include ../text-field/text-field.pug
include ../material-icons/material-icons.pug

mixin subscription-text-field ({ name = 'subscribe', value = 'subscribe', placeholder = 'E-mail'}={})
  .subscription-text-field
    .subscription-text-field__button-wrapper
      .subscription-text-field__button-arrow
        +material-icons({ type: 'arrow_forward' })
      input.subscription-text-field__button(type="button")&attributes({name, value})
    .subscription-text-field__text-field
      +text-field({ placeholder: placeholder, isPaddingRightMode: true, type: 'email', name: name })
