include ../text-field/text-field.pug
include ../material-icons/material-icons.pug

mixin subscription-text-field ({_name = "subscribe", _value="subscribe", _placeholder="E-mail"}={})
  .subscription-text-field
    .subscription-text-field__button-wrapper
      .subscription-text-field__button-arrow
        +material-icons({_type: "arrow_forward"})
      input(type="button" name=_name value=_value).subscription-text-field__button
    .subscription-text-field__text-field
      +text-field({_placeholder: _placeholder, _isPaddingRightMode: true, _type: "email"})
