
mixin toggle({_name, _text, _isChecked=false}={})
    .toggle
        label.toggle__label
            input(type="checkbox", name=_name, checked=_isChecked).toggle__input
            .toggle__text
                .toggle__content=_text