.headers-and-footers{
    margin-top: 68px;

    &__header{
        margin-bottom: 40px;
    }

    &__footer-with-copyright{
        margin-bottom: 40px;
    }

    &__footer {
        margin-bottom: 130px;
    }   
}