extends ../../index

block variables
    - var _bgcolor='#F4F4F6'

block content
    include ../../../common.blocks/logo-ui-kit/logo-ui-kit.pug
    include ../../../common.blocks/header/header.pug

    .headers-and-footers
        .headers-and-footers__logo
            +logo-ui-kit()
        .headers-and-footers__header
            +header({ _navOptions:[
                {_text: 'Home', _link: '/', _isCurrent: true, _sublinks: ''},
                {_text: 'About Us', _link: '/about-us', _isCurrent: false, _sublinks: ''},
                {_text: 'Services', _link: '/services', _isCurrent: false, _sublinks: 'asd'},
                {_text: 'Careers', _link: '/careers', _isCurrent: false, _sublinks: ''},
                {_text: 'News', _link: '/news', _isCurrent: false, _sublinks: ''},
                {_text: 'Documentation', _link: '/documentation', _isCurrent: false, _sublinks: ''},
            ],  
            _isLogged: false, 
            _username: '', 
            _loginButtonText: 'Login', 
            _signupButtonText: 'REGISTER'})
        .headers-and-footers__header
        .headers-and-footers__footer-with-copiright
        .headers-and-footers__footer    