@import '../../../common.blocks/header/header.scss';
@import '../../../common.blocks/footer-with-copyright/footer-with-copyright.scss';
@import '../../../common.blocks/footer/footer.scss';

.headers-and-footers {
  margin-top: 68px;

  &__header {
    margin-bottom: 40px;
  }

  &__footer-with-copyright {
    margin-bottom: 40px;
  }
  
  &__footer {
    margin-bottom: 130px;
  }
}