extends ../ui-kit-template

block variables
  - var bgcolor = '#F4F4F6'
  - let title = 'Headers and footers'

block template
  include ../../../blocks/header/header.pug
  include ../../../blocks/footer-with-copyright/footer-with-copyright.pug
  include ../../../blocks/footer/footer.pug

  - const { unloggedHeaderData, loggedHeaderData, footerWithCopyrightData, footerData } = require('@pages/ui-kit/headers-and-footers/headers-and-footers-data.json')

  .headers-and-footers
    .headers-and-footers__header
      +header(unloggedHeaderData)
    .headers-and-footers__header
      +header(loggedHeaderData)
    .headers-and-footers__footer-with-copyright
      +footer-with-copyright(footerWithCopyrightData)
    .headers-and-footers__footer  
      +footer(footerData)  