extends ../ui-kit-template

block variables
  - var _bgcolor="#F4F4F6"
  - let title="Headers and footers"

block template
  include ../../../common.blocks/header/header.pug
  include ../../../common.blocks/footer-with-copyright/footer-with-copyright.pug
  include ../../../common.blocks/footer/footer.pug

  .headers-and-footers
    .headers-and-footers__header
      +header({ _navOptions:[
        {_text: "Home", _link: "/", _isCurrent: true, _sublinks: ""},
        {_text: "About Us", _link: "/about-us", _isCurrent: false, _sublinks: ""},
        {_text: "Services", _link: "/services", _isCurrent: false, _sublinks: [
          {_textLink: "Service1", _link: "/Service1"},
          {_textLink: "Service2", _link: "/Service2"},
          {_textLink: "Service3", _link: "/Service3"},
        ]},
        {_text: "Careers", _link: "/careers", _isCurrent: false, _sublinks: ""},
        {_text: "News", _link: "/news", _isCurrent: false, _sublinks: ""},
        {_text: "Documentation", _link: "/documentation", _isCurrent: false, _sublinks: ""},
      ],  
      _isLogged: false, 
      _username: "", 
      _loginButtonText: "Login", 
      _signupButtonText: "REGISTER"})
    .headers-and-footers__header
      +header({ _navOptions:[
        {_text: "Home", _link: "/", _isCurrent: true, _sublinks: ""},
        {_text: "About Us", _link: "/about-us", _isCurrent: false, _sublinks: ""},
        {_text: "Services", _link: "/services", _isCurrent: false, _sublinks: [
          {_textLink: "Service1", _link: "/Service1"},
          {_textLink: "Service2", _link: "/Service2"},
          {_textLink: "Service3", _link: "/Service3"},
        ]},
        {_text: "Careers", _link: "/careers", _isCurrent: false, _sublinks: ""},
        {_text: "News", _link: "/news", _isCurrent: false, _sublinks: ""},
        {_text: "Documentation", _link: "/documentation", _isCurrent: false, _sublinks: ""},
      ],  
      _isLogged: true, 
      _username: "Cosmin Negoita", 
      _loginButtonText: "Login", 
      _signupButtonText: "REGISTER"})
    .headers-and-footers__footer-with-copyright
      +footer-with-copyright({ _descriptionText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.", 
      _menuItems: [
        { _header: "Navigation", _options: [
          { _text: "About Us", _link: "/about-us" },
          { _text: "News", _link: "/news" },
          { _text: "Support", _link: "/support" },
          { _text: "Products", _link: "/products" },
        ]},
        { _header: "ABOUT US", _options: [
          { _text: "Who we are", _link: "/about-us/who-we-are" },
          { _text: "Our team", _link: "/about-us/our-team" },
          { _text: "Careers", _link: "/about-us/careers" },
          { _text: "Investors", _link: "/about-us/investors" },
        ]},
        { _header: "Support", _options: [
          { _text: "Documentation", _link: "/support/documentation" },
          { _text: "Community", _link: "/support/community" },
          { _text: "Get in Touch", _link: "/support/get-in-touch" },
        ]},
      ],
      _subscribeHeader: "Subscribe to our newsletter", 
      _subscribeDescription: "Receive our latest news and promotions in your inbox!", 
      _sybscribePlaceholder: "Your email address", 
      _copyrightText: "Copyright © 2018 Toxin UI Kit. All rights reserved.", })
    .headers-and-footers__footer  
      +footer({ _descriptionText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis." })  