@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';
@import '../../../fonts/montserrat/montserrat.css';
@import '../../../fonts/quicksand/quicksand.css';
@import '../../../fonts/materialicons/material-icons.css';
@import '../../../fonts/opensans/OpenSans.css';

@import '../ui-kit-template.scss';

@import '../../../blocks/header/header.scss';
@import '../../../blocks/footer-with-copyright/footer-with-copyright.scss';
@import '../../../blocks/footer/footer.scss';

.headers-and-footers {
  margin-top: 4.8571rem;

  &__header {
    margin-bottom: 2.8571rem;
  }

  &__footer-with-copyright {
    margin-bottom: 2.8571rem;
  }
  
  &__footer {
    margin-bottom: 9.2857rem;
  }
}