@import '../../../scss/colors.scss';
@import '../../../scss/mixins/h1.scss';
@import '../../../scss/mixins/label.scss';

@import '../website-pages-template.scss';

@import '../../../blocks/label/label.scss';
@import '../../../blocks/date-dropdown/date-dropdown.scss';
@import '../../../blocks/dropdown/dropdown.scss';
@import '../../../blocks/range-slider/range-slider.scss';
@import '../../../blocks/checkbox-button/checkbox-button.scss';
@import '../../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../blocks/room-preview/room-preview.scss';
@import '../../../blocks/pagination/pagination.scss';

.search-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.8571rem;
  min-width: 22.8571rem;

  &__main {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 0.0714rem solid $dark25;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 111.4286rem;
    width: 100%;

    @media(max-width: 1920px){
      width: 81.25%;
    }

    @media(max-width: 1440px){
      max-width: 83.5714rem;
      width: 100%;
    }

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
    }

    &-left {
      display: flex;
      flex-direction: column;
      max-width: 19rem;
      padding: 0.3571rem;
    }

    &-right {
      display: flex;
      flex-direction: column;
      max-width: 99.0714rem;
      width: 100%;

      @media(max-width: 1920px){
        width: 72.22%;
      }

      @media (max-width: 1440px){
        max-width: 60.3571rem;
        width: 100%;
      }
    }

    &-preview {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 0.0714rem;

      @media (max-width: 1440px){
        max-width: 60.2857rem;
      }

      @media (max-width: 1116px) {
        justify-content: space-around;
        margin: 0;
      }
    }
  }

  &__dates{
    @include label(4.5rem);
    margin-bottom: 1.5rem;
  }

  &__checkbox-buttons{
    @include label(9.8571rem);
    margin-bottom: 1.5714rem;
  }

  &__availability {
    @include label(11rem);
    margin-bottom: 1.5rem;
  }

  &__guests {
    @include label(4.5rem);
    margin-bottom: 2.1429rem;
  }

  &__price-range {
    margin-bottom: 2.1429rem;
  }

  &__price-caption {
    margin-top: 0.3571rem;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8571rem;
    line-height: 1rem;
    color: $dark50
  }

  &__amenities {
    @include label(4.5rem);
    margin-bottom: 1.2857rem;
  }

  &__preview-header {
    @include h1;
    margin-bottom: 0.7857rem;
    padding: 0.2857rem 0.3571rem;

    @media (max-width: 1116px) {
      text-align: center;
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
    max-width: 60.2857rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__pagination {
    margin-top: 1.7143rem;
    margin-bottom: 5.1429rem;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0.1429rem;
  }
}

.pages{
  background: #FFFFFF;
}
