extends ../website-pages-template

block variables
  -
    const bgcolor = '#FFFFFF'
    const title = 'Search room'

block template
  include ../../../blocks/header/header.pug
  include ../../../blocks/label/label.pug
  include ../../../blocks/range-slider/range-slider.pug
  include ../../../blocks/checkbox-button/checkbox-button.pug
  include ../../../blocks/date-dropdown/date-dropdown.pug
  include ../../../blocks/dropdown/dropdown.pug
  include ../../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../../blocks/room-preview/room-preview.pug
  include ../../../blocks/pagination/pagination.pug
  include ../../../blocks/footer-with-copyright/footer-with-copyright.pug

  - const { searchRoomData } = require('@pages/website-pages/search-room/search-room-data.json')

  .search-room
    main.search-room__main
      .search-room__wrapper
        .search-room__wrapper-left
          .search-room__dates
            +label(searchRoomData.dates.label)
            +date-dropdown(searchRoomData.dates.item)
          .search-room__guests
            +label(searchRoomData.guests.label)
            +dropdown(searchRoomData.guests.item)
          .search-room__price-range
            +range-slider(searchRoomData.priceRange)
            .search-room__price-caption="Стоимость за сутки пребывания в номере"
          .search-room__checkbox-buttons
            +label(searchRoomData.checkboxButtons.label)
            each checkboxBatton in searchRoomData.checkboxButtons.items
              +checkbox-button(checkboxBatton)
          .search-room__availability
            +label(searchRoomData.availability.label)
            each availability in searchRoomData.availability.items
              +checkbox-button(availability)            
          .search-room__amenities
            +label(searchRoomData.amenities.label)
            +dropdown(searchRoomData.amenities.item)
          .search-room__add-amenities
            +expandable-checkbox-list(searchRoomData.addAmenities)
        .search-room__wrapper-right
          h1.search-room__preview-header.h1="Номера, которые мы для вас подобрали"
          .search-room__wrapper-preview
            each roomPreview in searchRoomData.roomPreviews
              +room-preview(roomPreview)            
          .search-room__pagination
            +pagination(searchRoomData.pagination)