@import '../date-dropdown/date-dropdown.scss';
@import '../label/label.scss';
@import '../dropdown/dropdown.scss';
@import '../button/button.scss';

.room-price {
  max-width: 27.1429rem;
  border: 0.0714rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 1.7857rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2143rem;
  padding: 2.7857rem 2.0714rem 2.0714rem 2.0714rem;
  background-color: white;

  &__header {
    max-width: 22.8571rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4286rem;
  }

  &__room-number {
    display: flex;
    flex-direction: row;

    &-text-number,
    &-text,
    &-luxe {
      display: flex;
      align-items: flex-end;
    }

    &-text-number {
      font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.2143rem;
      color: $dark100;
      margin-right: 0.2857rem;
      padding-bottom: 0.1429rem;
    }

    &-text {
      font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.7143rem;
      line-height: 2.1429rem;
      color: $dark100;
    }

    &-luxe {
      margin-left: 0.3571rem;
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
      color: $purple;
      padding-bottom: 0.2143rem;

      &_hide {
        display: none;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: row;

    &-sum,
    &-sum-per-day {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      line-height: 1.2857rem;
      color: $dark50;
      display: flex;
      align-items: flex-end;
    }

    &-sum {
      font-weight: bold;
      font-size: 1rem;
      padding-bottom: 0.1429rem;

      &-per-day {
        font-weight: normal;
        font-size: 0.8571rem;
        margin-left: 0.2857rem;
        padding-bottom: 0.0714rem;
      }
    }
  }

  &__date {
    margin-bottom: 1.4286rem;
  }
  &__guests {
    margin-bottom: 1.2857rem;
  }

  &__calculate {
    @include body;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1429rem;
    margin-left: 0.0714rem;
  }

  &__for-room,
  &__for-services,
  &__for-addservices {
    display: flex;
    justify-content: space-between;

    &-price {
      justify-content: end;
    }
  }

  &__for-services,
  &__for-addservices {
    &-info {
      margin-left: 0.3571rem;
      min-width: 1.4286rem;
      min-height: 1.4286rem;
      max-height: 1.4286rem;
      width: min-content;
      height: min-content;
      border: 0.0714rem solid $dark25;
      border-radius: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-description {
      width: 15.3571rem;
    }

    &-left-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__for-room {
    margin-bottom: 0.7143rem;
  }

  &__for-services {
    margin-bottom: 0.9286rem;
  }

  &__for-addservices {
    line-height: 1.3571rem;
  }

  &__total {
    margin-bottom: 1.4286rem;
    max-width: 22.8571rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

    &-text {
      margin-left: 0.0714rem;
    }

    &-price {
      display: inline;
      white-space: nowrap;
    }

    &-text,
    &-price {
      font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.3571rem;
      line-height: 1.7143rem;
      color: $dark100;
    }

    &-separator {
      max-width: 21.4286rem;
      width: 100%;
      margin: 0 0.3571rem;
      border-bottom: 0.0714rem dashed $dark25;
      margin-bottom: 0.3571rem;
    }
  }
}
