.donut-chart{
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;

    &__value{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    }

    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__path{
        cursor: pointer;
    }
}