extends ../../index

block variables
    - var _bgcolor='#FFFFFF'

block content
    include ../../../common.blocks/logo-ui-kit/logo-ui-kit.pug
    include ../../../common.blocks/text-field/text-field.pug
    include ../../../common.blocks/checkbox-button/checkbox-button.pug
    include ../../../common.blocks/range-slider/range-slider.pug

    .form-elements
        .form-elements__logo
            +logo-ui-kit()
        .form-elements__main-wrapper
            .form-elements__main
                .form-elements__content-left
                    +text-field({_placeholder: 'Email'})
                .form-elements__content-right-wrapper
                    .form-elements__content-center
                        +checkbox-button({_text: 'Можно курить', _name: 'smoking'})
                    .form-elements__content-right
                        +range-slider({})
        
        
        
        .form-elements__main-wrapper
            .form-elements__main
                .form-elements__content-left
                .form-elements__content-right-wrapper
                    .form-elements__content-center
                    .form-elements__content-right
