@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';
@import '../../../scss/mixins/label.scss';

@import '../ui-kit-template.scss';

@import '../../../blocks/label/label.scss';
@import '../../../blocks/text-field/text-field.scss';
@import '../../../blocks/dropdown/dropdown.scss';
@import '../../../blocks/date-dropdown/date-dropdown.scss';
@import '../../../blocks/subscription-text-field/subscription-text-field.scss';
@import '../../../blocks/checkbox-button/checkbox-button.scss';
@import '../../../blocks/radio-buttons/radio-buttons.scss';
@import '../../../blocks/toggle/toggle.scss';
@import '../../../blocks/like-button/like-button.scss';
@import '../../../blocks/rate-button/rate-button.scss';
@import '../../../blocks/range-slider/range-slider.scss';
@import '../../../blocks/button/button.scss';
@import '../../../blocks/pagination/pagination.scss';
@import '../../../blocks/dropdown/dropdown.scss';
@import '../../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../blocks/bullet-list/bullet-list.scss';
@import '../../../blocks/icon-text-list/icon-text-list.scss';
@import '../../../blocks/comment/comment.scss';

.form-elements {
  margin-top: 4.0714rem;
  min-width: 22.8571rem;

  &__main-wrapper {
    display: flex;
    justify-content: center;
  }

  &__main {
    max-width: 1920px;
    width: 81.25%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1920px){
      width: 81.25%;
    }

    @media (max-width: 1440px){
      max-width: 83.5714rem;
      width: 100%;
    }

    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-left,
  &__content-center,
  &__content-right {
    max-width: 23.6429rem;
    width: 100%;
    padding: .3571rem;
    box-sizing: border-box;
  }

  &__content-right_big {
    width: 61.79%;
    padding: 0.9286rem 0.4286rem 0.3571rem 0.3571rem;

    @media (max-width: 1440px){
      max-width: 51.7857rem;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__content-left_with-margin-left {
    margin-left: 0.0714rem;
  }

  &__content-right-wrapper {
    display: flex;
    justify-content: space-between;
    width: 61.79%;

    @media (max-width: 1440px){
      max-width: 51.6429rem;
      width: 100%;
    }

    @media (max-width: 870px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__common-text-field{
    @include label(4.5rem);
    margin-bottom: 1.5rem;
  }

  &__hover-text-field{
    @include label(4.5rem);
    margin-bottom: 1.5rem;
  }

  &__common-dropdown{
    @include label(4.5rem);
    margin-bottom: 1.7143rem;
  }

  &__masked-text-field {
    @include label(4.5rem);
    margin-bottom: 2.8571rem;
  }

  &__common-date-dropdown{
    margin-bottom: 2.9286rem;
  }

  &__filtered-date-dropdown{
    @include label(4.5rem);
    margin-bottom: 3rem;
  }

  &__subscription-text-field{
    @include label(4.5rem);
  }

  &__checkbox-buttons{
    @include label(9.1429rem);
    margin-bottom: 3rem;
  }

  &__radio-buttons{
    @include label(3.3571rem);
    margin-bottom: 3.2143rem;
  }

  &__toggles{
    @include label(6rem);
    margin-bottom: 3.2143rem;
  }

  &__like-buttons {
    @include label(3.5714rem);
    margin-bottom: 2.9286rem;

    &-wrapper{
      display: flex;
      justify-content: space-between;
      max-width: 6.4286rem;
      width: 100%;
      flex-direction: row;
    }
  }

  &__rate-buttons {
    @include label(4.1429rem);

    &-wrapper{
      display: flex;
      justify-content: space-between;
      max-width: 18.5714rem;
      width: 100%;
    }
  }

  &__range-slider {
    margin-bottom: 2.4286rem;
  }

  &__buttons {
    @include label(19.1429rem);
    margin-bottom: 2.9286rem;
  }

  &__pagination{
    @include label(7.2857rem);
    margin-left: 0.0714rem;
  }

  &__short-dropdown{
    @include label(4.5rem);
  }

  &__rich-checkbox-buttons{
    @include label(10.3571rem);
    margin-top: 0.9286rem;
  }

  &__expandable-checkbox-list{
    &_closed{
      margin-left: 0.0714rem;
      margin-bottom: 1.7143rem;
    }
  }

  &__button-wrapper {
    display: flex;
    margin-bottom: 2.1429rem;
    margin-left: 0.0714rem;

    &_without-margin-left {
      margin-left: 0;
    }

    &_margin-bottom-small{
      margin-bottom: 2.2143rem;
    }

    .button:first-child {
      margin-right: 20px;
      max-width: 7.0714rem;
    }

    &_small{
      max-width: 10.1429rem;
    }

    &_big {
      max-width: 15.5714rem;
    }
  }

  &__separator {
    &_small-size {
      margin-bottom: 5.7143rem;;
    }

    &_middle-size {
      margin-bottom: 6.5rem;

      @media (max-width: 870px) {
        margin-bottom: 1.4286rem;
      }
    }
    &_big-size {
      margin-bottom: 15rem;
      @media (max-width: 870px) {
        margin-bottom: 1.4286rem;
      }
    }
  }

  &__bullet-list{
    @include label(10.2143rem);
    margin-top: 0.9286rem;
  }

  .checkbox-button:last-child {
    margin-bottom: 0;
  }

  .toggle:last-child {
    margin-bottom: 0;
  }
}

.pages{
  background: #FFFFFF;
}
