@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';
@import '../../../scss/fonts/montserrat/montserrat.css';
@import '../../../scss/fonts/quicksand/quicksand.css';
@import '../../../scss/fonts/materialicons/material-icons.css';
@import '../../../scss/fonts/opensans/OpenSans.css';

@import '../ui-kit-template.scss';

@import '../../../blocks/label/label.scss';
@import '../../../blocks/text-field/text-field.scss';
@import '../../../blocks/dropdown/dropdown.scss';
@import '../../../blocks/date-dropdown/date-dropdown.scss';
@import '../../../blocks/subscription-text-field/subscription-text-field.scss';
@import '../../../blocks/checkbox-button/checkbox-button.scss';
@import '../../../blocks/radio-buttons/radio-buttons.scss';
@import '../../../blocks/toggle/toggle.scss';
@import '../../../blocks/like-button/like-button.scss';
@import '../../../blocks/rate-button/rate-button.scss';
@import '../../../blocks/range-slider/range-slider.scss';
@import '../../../blocks/button/button.scss';
@import '../../../blocks/pagination/pagination.scss';
@import '../../../blocks/dropdown/dropdown.scss';
@import '../../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../blocks/bullet-list/bullet-list.scss';
@import '../../../blocks/icon-text-list/icon-text-list.scss';
@import '../../../blocks/comment/comment.scss';

.form-elements {
  margin-top: 4.0714rem;

  &__main-wrapper {
    display: flex;
    justify-content: center;
  }

  &__main {
    max-width: 83.5714rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-left,
  &__content-center,
  &__content-right {
    max-width: 22.9286rem;
    width: 100%;
    padding: 0.3571rem;
  }

  &__content-right_big {
    max-width: 51rem;
    padding: 0.9286rem 0.4286rem 0.3571rem 0.3571rem;
  }

  &__content-left_margin-left-1 {
    margin-left: 0.0714rem;
  }

  &__content-right-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 51.6429rem;
    width: 100%;

    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    &_margin-bottom-20 {
      margin-bottom: 1.4286rem;
    }

    &_margin-bottom-21 {
      margin-bottom: 1.5rem;
    }

    &_margin-bottom-24 {
      margin-bottom: 1.7143rem;
    }

    &_margin-bottom-38 {
      margin-bottom: 2.7143rem;
    }

    &_margin-bottom-40 {
      margin-bottom: 2.8571rem;
    }

    &_margin-bottom-41 {
      margin-bottom: 2.9286rem;
    }

    &_margin-bottom-42 {
      margin-bottom: 3rem;
    }

    &_margin-bottom-43 {
      margin-bottom: 3.0714rem;
    }

    &_margin-bottom-45 {
      margin-bottom: 3.2143rem;
    }

    &_margin-left-1{
      margin-left: 0.0714rem;
    }
  }

  &__masked-text-field {
    padding-top: 0.2143rem;
  }

  &__subscription-text-field{
    padding-top: 0.0714rem;
  }

  &__like-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 6.4286rem;
    width: 100%;
    flex-direction: row;
  }

  &__rate-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 18.5714rem;
    width: 100%;
  }

  &__range-slider {
    margin-bottom: 2.4286rem;
  }

  &__button-wrapper {
    margin-bottom: 2.1429rem;
    margin-left: 0.0714rem;

    &_margin-left-0 {
      margin-left: 0;
    }

    &_margin-bottom-31{
      margin-bottom: 2.2143rem;
    }
  }

  &__separator {
    &_margin-19 {
      margin-bottom: 1.3571rem;;
    }

    &_margin-91 {
      margin-bottom: 6.5rem;

      @media (max-width: 870px) {
        margin-bottom: 1.4286rem;
      }
    }
    &_margin-234 {
      margin-bottom: 16.7143rem;
      @media (max-width: 870px) {
        margin-bottom: 1.4286rem;
      }
    }
  }

  &__rich-checkbox-buttons,
  &__bullet-list{
    margin-top: 0.9286rem;
  }

  .checkbox-button:last-child {
    margin-bottom: 0;
  }

  .toggle:last-child {
    margin-bottom: 0;
  }
}
