@import '../../../common.blocks/label/label.scss';
@import '../../../common.blocks/text-field/text-field.scss';
@import '../../../common.blocks/dropdown/dropdown.scss';
@import '../../../common.blocks/date-dropdown/date-dropdown.scss';
@import '../../../common.blocks/subscription-text-field/subscription-text-field.scss';
@import '../../../common.blocks/checkbox-button/checkbox-button.scss';
@import '../../../common.blocks/radio-buttons/radio-buttons.scss';
@import '../../../common.blocks/toggle/toggle.scss';
@import '../../../common.blocks/like-button/like-button.scss';
@import '../../../common.blocks/rate-button/rate-button.scss';
@import '../../../common.blocks/range-slider/range-slider.scss';
@import '../../../common.blocks/button/button.scss';
@import '../../../common.blocks/pagination/pagination.scss';
@import '../../../common.blocks/dropdown/dropdown.scss';
@import '../../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../common.blocks/bullet-list/bullet-list.scss';
@import '../../../common.blocks/icon-text-list/icon-text-list.scss';
@import '../../../common.blocks/comment/comment.scss';

.form-elements {
  margin-top: 56px;

  &__main-wrapper {
    display: flex;
    justify-content: center;
  }

  &__main {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-left,
  &__content-center,
  &__content-right {
    max-width: 321px;
    width: 100%;
    padding: 5px;
  }

  &__content-right_big {
    max-width: 714px;
    padding: 13px 6px 5px 5px;
  }

  &__content-left_margin-left-1 {
    margin-left: 1px;
  }

  &__content-right-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 723px;
    width: 100%;

    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    &_margin-bottom-24 {
      margin-bottom: 24px;
    }

    &_margin-bottom-20 {
      margin-bottom: 20px;
    }

    &_margin-bottom-38 {
      margin-bottom: 38px;
    }

    &_margin-bottom-40 {
      margin-bottom: 40px;
    }

    &_margin-bottom-41 {
      margin-bottom: 41px;
    }

    &_margin-bottom-43 {
      margin-bottom: 43px;
    }

    &_margin-left-1{
      margin-left: 1px;
    }
  }

  &__masked-text-field {
    padding-top: 3px;
  }

  &__subscription-text-field{
    padding-top: 1px;
  }

  &__radio-buttons {
    padding-top: 2px;
  }

  &__like-button {
    padding-top: 3px;
  }

  &__like-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    width: 100%;
    flex-direction: row;
  }

  &__rate-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
  }

  &__range-slider {
    margin-bottom: 34px;
  }

  &__button-wrapper {
    margin-bottom: 30px;
    margin-left: 1px;

    &_margin-left-0 {
      margin-left: 0;
    }
  }

  &__separator {
    &_margin-40 {
      margin-bottom: 32px;
    }

    &_margin-100 {
      margin-bottom: 90px;

      @media (max-width: 870px) {
        margin-bottom: 20px;
      }
    }
    &_margin-233 {
      margin-bottom: 233px;
      @media (max-width: 870px) {
        margin-bottom: 20px;
      }
    }
  }

  &__rich-checkbox-buttons,
  &__bullet-list{
    margin-top: 13px;
  }

  .checkbox-button:last-child {
    margin-bottom: 0px;
  }
  
  .toggle:last-child {
    margin-bottom: 0px;
  }
}