extends ../ui-kit-template

block variables
  - let bgcolor = '#FFFFFF'
  - let title = 'Form elements'

block template
  include ../../../blocks/text-field/text-field.pug
  include ../../../blocks/checkbox-button/checkbox-button.pug
  include ../../../blocks/range-slider/range-slider.pug
  include ../../../blocks/label/label.pug
  include ../../../blocks/dropdown/dropdown.pug
  include ../../../blocks/date-dropdown/date-dropdown.pug
  include ../../../blocks/subscription-text-field/subscription-text-field.pug
  include ../../../blocks/radio-buttons/radio-buttons.pug
  include ../../../blocks/toggle/toggle.pug
  include ../../../blocks/like-button/like-button.pug
  include ../../../blocks/rate-button/rate-button.pug
  include ../../../blocks/button/button.pug
  include ../../../blocks/pagination/pagination.pug
  include ../../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../../blocks/bullet-list/bullet-list.pug
  include ../../../blocks/icon-text-list/icon-text-list.pug
  include ../../../blocks/comment/comment.pug

  - const { formElementsData } = require('@pages/ui-kit/form-elements/form-elements-data.json');

  main.form-elements
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left.form-elements__content-left_margin-left-1
            .form-elements__item_margin-bottom-21
              +label(formElementsData.textFields.commonLabel)
              +text-field(formElementsData.textFields.commonTextField)
            .form-elements__item_margin-bottom-21
              +label(formElementsData.textFields.hoverLabel)
              +text-field(formElementsData.textFields.hoverTextField)
            .form-elements__item_margin-bottom-20
              +label(formElementsData.dropdowns.commonLabel)
              +dropdown(formElementsData.dropdowns.commonDropdown)
            .form-elements__item_margin-bottom-41.form-elements__masked-text-field
              +label(formElementsData.textFields.maskedLabel)
              +text-field(formElementsData.textFields.maskedTextField)
            .form-elements__item_margin-bottom-41
              +date-dropdown(formElementsData.dateDropDowns.commonDateDropDown)
            .form-elements__item.form-elements__item_margin-bottom-41
              +label(formElementsData.dateDropDowns.filtredLabel)
              +date-dropdown(formElementsData.dateDropDowns.filtredDateDropDown)
            .form-elements__subscription-text-field
              +label(formElementsData.subscriptionTextDield.label)
              +subscription-text-field(formElementsData.subscriptionTextDield.item)
                  
          .form-elements__content-right-wrapper
            section.form-elements__content-center
              .form-elements__item_margin-bottom-43
                +label(formElementsData.checkboxButtons.label)
                each checbox in formElementsData.checkboxButtons.items
                  +checkbox-button(checbox)                
              .form-elements__item_margin-bottom-45.form-elements__radio-buttons
                +label(formElementsData.radioButtons.label)
                +radio-buttons(formElementsData.radioButtons.item)
              .form-elements__item_margin-bottom-45
                +label(formElementsData.toggles.label)
                each toggle in formElementsData.toggles.items
                  +toggle(toggle)
              .form-elements__item_margin-bottom-41.form-elements__like-button
                +label(formElementsData.likeButtons.label)
                .form-elements__like-buttons
                  each likeButton in formElementsData.likeButtons.items
                    +like-button(likeButton)
              .form-elements__item_margin-bottom-40
                +label(formElementsData.rateButtons.label)
                .form-elements__rate-buttons
                  each reateButton in formElementsData.rateButtons.items 
                    +rate-button(reateButton)
              
            section.form-elements__content-right
              .form-elements__item_margin-bottom-40.form-elements__range-slider
                +range-slider({})
              .form-elements__item_margin-bottom-41
                +label(formElementsData.buttons.label)
                .form-elements__button-wrapper
                  +button(formElementsData.buttons.gradientButton)
                .form-elements__button-wrapper.form-elements__button-wrapper_margin-left-0
                  +button(formElementsData.buttons.borderedButton)
                .form-elements__button-wrapper.form-elements__button-wrapper_margin-bottom-31
                  +button(formElementsData.buttons.emptyButton)
                .form-elements__button-wrapper_margin-left-0
                  +button(formElementsData.buttons.richButton)
              .form-elements__item_margin-bottom-40.form-elements__item_margin-left-1
                +label(formElementsData.pagination.label)
                +pagination(formElementsData.pagination.item)
    .form-elements__separator_margin-91

    .form-elements__main-wrapper
      .form-elements__main
        section.form-elements__content-left
          +label(formElementsData.dropdowns.shortLabel)
          +dropdown(formElementsData.dropdowns.shortDropDown)
        .form-elements__content-right-wrapper
          section.form-elements__content-center
            +label(formElementsData.dropdowns.labelWithoutCaption)
            +dropdown(formElementsData.dropdowns.commonDropdown)
          section.form-elements__content-right

    .form-elements__separator_margin-234
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left
            .form-elements__item_margin-bottom-24.form-elements__expandable-checkbox-list.form-elements__item_margin-left-1
              +expandable-checkbox-list(formElementsData.expandableCheckboxLists.closed)
            .form-elements__expandable-checkbox-list
              +expandable-checkbox-list(formElementsData.expandableCheckboxLists.expanded)
          .form-elements__content-right-wrapper
            section.form-elements__content-center.form-elements__rich-checkbox-buttons
              +label(formElementsData.richCheckboxButtons.label)
              each richCheckbox in formElementsData.richCheckboxButtons.items
                +checkbox-button(richCheckbox)
            section.form-elements__content-right.form-elements__bullet-list
              +label(formElementsData.bulletList.label)
              +bullet-list(formElementsData.bulletList.item)
    .form-elements__separator_margin-19
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left
            +icon-text-list(formElementsData.iconTextList)
          section.form-elements__content-right_big
            +comment(formElementsData.comment)