extends ../../index

block variables
    - var _bgcolor='#FFFFFF'

block content
    include ../../../common.blocks/logo-ui-kit/logo-ui-kit.pug
    include ../../../common.blocks/text-field/text-field.pug
    include ../../../common.blocks/checkbox-button/checkbox-button.pug
    include ../../../common.blocks/range-slider/range-slider.pug
    include ../../../common.blocks/label/label.pug

    .form-elements
        .form-elements__logo
            +logo-ui-kit()
        .form-elements__main-wrapper
            .form-elements__main
                .form-elements__content-left
                    .form-elements__item.form-elements__item_margin-bottom-20
                        +label({_text: 'Text Field', _marginBottom: '5'})
                        +text-field({_placeholder: 'Email'})
                .form-elements__content-right-wrapper
                    .form-elements__content-center
                        .form-elements__item.form-elements__item_margin-bottom-40
                            +label({_text: 'Checkbox Buttons', _marginBottom: '16'})
                            +checkbox-button({_text: 'Можно курить', _name: 'smoking'})
                            +checkbox-button({_text: 'Можно с питомцами', _name: 'pets', _isChecked: true})
                            +checkbox-button({_text: 'Можно пригласить гостей (до 10 человек)', _name: 'guests', _isChecked: true})
                    .form-elements__content-right
                        .form-elements__content-center.form-elements__item.form-elements__item_margin-bottom-40
                            +range-slider({})
        
        
        
        .form-elements__main-wrapper
            .form-elements__main
                .form-elements__content-left
                .form-elements__content-right-wrapper
                    .form-elements__content-center
                    .form-elements__content-right
