extends ../ui-kit-template

block variables
  - let bgcolor = '#FFFFFF'
  - let title = 'Form elements'

block template
  include ../../../blocks/text-field/text-field.pug
  include ../../../blocks/checkbox-button/checkbox-button.pug
  include ../../../blocks/range-slider/range-slider.pug
  include ../../../blocks/label/label.pug
  include ../../../blocks/dropdown/dropdown.pug
  include ../../../blocks/date-dropdown/date-dropdown.pug
  include ../../../blocks/subscription-text-field/subscription-text-field.pug
  include ../../../blocks/radio-buttons/radio-buttons.pug
  include ../../../blocks/toggle/toggle.pug
  include ../../../blocks/like-button/like-button.pug
  include ../../../blocks/rate-button/rate-button.pug
  include ../../../blocks/button/button.pug
  include ../../../blocks/pagination/pagination.pug
  include ../../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../../blocks/bullet-list/bullet-list.pug
  include ../../../blocks/icon-text-list/icon-text-list.pug
  include ../../../blocks/comment/comment.pug

  main.form-elements
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left.form-elements__content-left_margin-left-1
            .form-elements__item_margin-bottom-21
              +label({ text: 'Text Field', marginBottom: '5', caption: 'Default', marginCaption: '3' })
              +text-field({_placeholder: 'Email'})
            .form-elements__item_margin-bottom-21
              +label({ text: 'Text Field', marginBottom: '5', caption: 'Hover / Focus' })
              +text-field({ placeholder: 'Email', text: 'This is pretty awesome' })
            .form-elements__item_margin-bottom-20
              +label({ text: 'Dropdown', marginBottom: '5', caption: 'Default' })
              +dropdown({
                text: 'Сколько гостей',
                options: [
                  { text: 'взрослые', number: 0 },
                  { text: 'дети', number: 0 },
                  { text: 'младенцы', number: 0 },
                ],
              })
            .form-elements__item_margin-bottom-41.form-elements__masked-text-field
              +label({ text: 'masked text field', marginBottom: '5', caption: 'Default', marginCaption: '3' })
              +text-field({ isMasked: true })
            .form-elements__item_margin-bottom-41
              +date-dropdown({ isFiltred: false, demoText: '19.08.2019', startText: 'date Dropdown', finishText: 'date Dropdown' })
            .form-elements__item.form-elements__item_margin-bottom-41
              +label({ text: 'filter date dropdown', marginBottom: '5' })
              +date-dropdown({ isFiltred: true })
            .form-elements__subscription-text-field
              +label({ text: 'subscription text field', marginBottom: '5' })
              +subscription-text-field({ value: 'Email' })
                  
          .form-elements__content-right-wrapper
            section.form-elements__content-center
              .form-elements__item_margin-bottom-43
                +label({ text: 'Checkbox Buttons', marginBottom: '17' })
                +checkbox-button({ text: 'Можно курить', name: 'smoking' })
                +checkbox-button({ text: 'Можно с питомцами', name: 'pets', isChecked: true })
                +checkbox-button({ text: 'Можно пригласить гостей (до 10 человек)', name: 'guests', isChecked: true })
              .form-elements__item_margin-bottom-45.form-elements__radio-buttons
                +label({ text: 'Radio Buttons', marginBottom: '16' })
                +radio-buttons({ 
                  name: 'radioButtons', 
                  radioButtons:[
                    { text: 'Мужчина', value: 'men', isChecked: true },
                    { text: 'Женщина', value: 'women', isChecked: false },
                  ]
                })
              .form-elements__item_margin-bottom-45
                +label({ text: 'Toggle', marginBottom: '15' })
                +toggle({ name: 'togen', text: 'Получать спецпредложения', isChecked: true })
                +toggle({ name: 'togdis', text: 'Получать спецпредложения', isChecked: false })
              .form-elements__item_margin-bottom-41.form-elements__like-button
                +label({ text: 'like button', marginBottom: '16' })
                .form-elements__like-buttons
                  +like-button({ number: '2', isClicked: false })
                  +like-button({ number: '12', isClicked: true })
              .form-elements__item_margin-bottom-40
                +label({ text: 'rate button', marginBottom: '16' })
                .form-elements__rate-buttons
                  +rate-button({ rate: '4' })
                  +rate-button({ rate: '5' })

              
            section.form-elements__content-right
              .form-elements__item_margin-bottom-40.form-elements__range-slider
                +range-slider({})
              .form-elements__item_margin-bottom-41
                +label({ text: 'buttons', marginBottom: '16' })
                .form-elements__button-wrapper
                  +button({ type: 'gradient-background', name: 'default', value: 'CLICK ME', actionLink: '/#moke' })
                .form-elements__button-wrapper.form-elements__button-wrapper_margin-left-0
                  +button({ type: 'bordered', name: 'bordered', value: 'CLICK ME', actionLink: '/#moke' })
                .form-elements__button-wrapper.form-elements__button-wrapper_margin-bottom-31
                  +button({ type: 'empty', name: 'empty', value: 'CLICK ME', actionLink: '/#moke'})
                .form-elements__button-wrapper_margin-left-0
                  +button({ type: 'rich', name: 'default', value: 'перейти к оплате', actionLink: '/#moke' })
              .form-elements__item_margin-bottom-40.form-elements__item_margin-left-1
                +label({ text: 'pagination', marginBottom: '16' })
                +pagination({
                  links : [
                    { href: '/page1', isActive: true, number: 1, },
                    { href: '/page2', isActive: false,  number: 2, },
                    { href: '/page3', isActive: false,  number: 3, },
                    { href: '', isActive: false, number: 0, },
                    { href: '/page15', isActive: false,  number: 15, },
                  ],
                })
    .form-elements__separator_margin-91

    .form-elements__main-wrapper
      .form-elements__main
        section.form-elements__content-left
          +label({ text: 'Dropdown', marginBottom: '5', caption: 'Default', isShort: true })
          +dropdown({
            text: '',
            options: [
                { text: 'спальни', number: 0} ,
                { text: 'кровати', number: 0 },
                { text: 'ванные комнаты', number: 0 },
            ],
            isShort: true
          })
        .form-elements__content-right-wrapper
          section.form-elements__content-center
            +label({ text: 'Dropdown', marginBottom: '5', })
            +dropdown({
              text: 'Сколько гостей',
              options: [
                { text: 'взрослые', number: 0 },
                { text: 'дети', number: 0 },
                { text: 'младенцы', number: 0 },
              ],
            })
          section.form-elements__content-right

    .form-elements__separator_margin-234
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left
            .form-elements__item_margin-bottom-24.form-elements__expandable-checkbox-list.form-elements__item_margin-left-1
              +expandable-checkbox-list({
                header: 'expandable checkbox list', 
                checkboxes :[
                  { text: 'Завтрак', isChecked: false },
                  { text: 'Письменный стол', isChecked: true },
                  { text: 'Стул для кормления', isChecked: true },
                  { text: 'Кроватка', isChecked: true },
                  { text: 'Телевизор', isChecked: false },
                  { text: 'Шампунь', isChecked: false },
                  { text: 'Телевизор', isChecked: false },
                  { text: 'Шампунь', isChecked: false },
                ],
              })
            .form-elements__expandable-checkbox-list
              +expandable-checkbox-list({
                header: 'expandable checkbox list', 
                checkboxes :[
                  { text: 'Завтрак', isChecked: false },
                  { text: 'Письменный стол', isChecked: true },
                  { text: 'Стул для кормления', isChecked: true },
                  { text: 'Кроватка', isChecked: true },
                  { text: 'Телевизор', isChecked: false} ,
                  { text: 'Шампунь', isChecked: false },
                  { text: 'Телевизор', isChecked: false },
                  { text: 'Шампунь', isChecked: false },
                ],
                isExpanded: true,
              })
          .form-elements__content-right-wrapper
            section.form-elements__content-center.form-elements__rich-checkbox-buttons
              +label({ text: 'Rich Checkbox Buttons', marginBottom: '16' })
              +checkbox-button({ text: 'Ширина коридоров в номере не менее 91 см.', name: 'width', header: 'Широкий коридор' })
              +checkbox-button({ text: 'На 1 этаже вас встретит специалист и проводит до номера.', name: 'help', header: 'Помощник для инвалидов' })
            section.form-elements__content-right.form-elements__bullet-list
              +label({ text: 'bullet list', marginBottom: '13' })
              +bullet-list({
                list:[
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00, а выезд до 12:00',
              ]})
    .form-elements__separator_margin-19
    .form-elements__main-wrapper
      .form-elements__main
          section.form-elements__content-left
            +icon-text-list({
              items: [
                { icon: 'insert_emoticon', header: 'Комфорт', content: 'Шумопоглощающие стены' },
                { icon: 'location_city', header: 'Удобство', content: 'Окно в каждой из спален' },
            ]})
          section.form-elements__content-right_big
            +comment({
              avatarSrc: './img/avatar1.png',
              avatarName: 'Мурад Сарафанов', 
              avatarDate: '5 дней назад', 
              likeNumber: 11, 
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей'
            })