@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../material-icons/material-icons.scss';

.button {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;

  &__arrow {
    display: flex;
    position: absolute;
    min-width: 3.1429rem;
    min-height: 3.1429rem;
    width: min-content;
    height: min-content;
    right: 0;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &__wrapper{
    appearance: unset;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    text-align: unset;
    align-items: unset;
    background-color: unset;
    margin: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    font: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    box-sizing: border-box;
    text-transform: uppercase;
    width: 100%;
    min-height: 3.1429rem;
    height: min-content;
    border-radius: 1.5714rem;
    cursor: pointer;

    &-border {
      border-radius: 1.4286rem;
      background-color: #fff;
      color: #bc9cff;
      border: none;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      max-width: 20rem;
      width: 100%;
    }

    &:hover,
    &_demo {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }

    &_rich {
      max-width: 22.8571rem;
      margin: 0;
      position: relative;
    }

    &_empty {
      padding-top: 0.0714rem;
      width: max-content;
      background: unset;
      min-height: unset;
    }

    &_short,
    &_bordered {
      // max-width: fit-content;
      width: 100%;
      min-height: 2.4286rem;
      border-radius: 1.5714rem;
    }

    &_bordered,
    &_bordered-small {
      padding: .1429rem;
    }

    &_small,
    &_bordered-small {
      min-height: 2.4286rem;
      border-radius: 1.2143rem;
    }
  }

  &__content {
    text-align: center;
    color: #FFFFFF;
    padding: 0 .5rem;
    text-decoration: none;
    text-transform: uppercase;

    &_rich {
      position: absolute;
      z-index: -1;
      opacity: 0;
      width: 100%;
      max-width: 22.8571rem;
      min-height: 3.1429rem;
      height: min-content;
      cursor: pointer;
    }

    &_with-shift {
      padding: .5rem 2.5rem .5rem 2.1429rem;
    }

    &_empty {
      color: $purple;
      padding: unset;

      &-dark {
        color: $dark50;
        text-decoration: none;
        padding: unset;
      }
    }

    &_bordered,
    &_bordered-small {
      width: max-content;
      height: min-content;
      padding: 0 1.2857rem 0 1.2143rem;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      max-width: 25rem;
      min-width: 3.9286rem;
      line-height: 2.0814rem;
      color: inherit;
      text-decoration: unset;
      border-radius: 1.4286rem;
      min-height: 2.8571rem;

      &::before {
        content: "";
        display: inline-block;
        min-height: inherit;
        height: 100%;
        vertical-align: middle;
      }
    }

    &_bordered-small {
      border-radius: 1.0714rem;
      min-height: 2.1429rem;
      padding: 0 1rem;
    }

    &_with-gradient-background-small {
      padding: 0 1.4286rem;
    }
  }
}
