mixin text-field({ placeholder, name, isMasked = false, isPaddingRightMode = false, text, type = 'text' } = {})
  -
    let maskedMod = ''
    if (isMasked){
      maskedMod = ' text-field_masked js-text-field_masked'
      placeholder = 'ДД.ММ.ГГГГ'
    }
    const addPadding = isPaddingRightMode? ' text-field_addPaddingRight' : ''
    const inputAttr = {
      type: type,
      placeholder: placeholder,
      name: name,
      value: text,
      class: `text-field  js-text-field${maskedMod}${addPadding}`,
    }

  input&attributes(inputAttr)
