include ../material-icons/material-icons.pug

mixin date-dropdown ({}={})
    .date-dropdown    
        .datepicker-here(data-range="true")
    
    //- 
    //-     .date-dropdown__arrow
    //-         +material-icons({_type: 'keyboard_arrow_down'})
    //-     .date-dropdown__select
    //-     .date-dropdown__picker-wrapper
    //-         input(
    //-             type='text'
    //-             class='datepicker-here'
    //-         )