include ../material-icons/material-icons.pug

mixin date-dropdown ({_isFiltred=true, _demoText, _startText, _finishText}={})
  section.date-dropdown.js-date-dropdown
    if (_isFiltred)    
      .date-dropdown__arrow
        +material-icons({_type: "keyboard_arrow_down"})
      input(type="text" readonly="true" placeholder="ДД.МММ - ДД.МММ").date-dropdown__input.date-dropdown__input-filtred.js-date-dropdown__input.js-date-dropdown__input-filtred
    else
      .date-dropdown__wrapper-filtred
        .date-dropdown__wrapper-from
          h3.date-dropdown__start-text.h3=_startText
          .date-dropdown__input-wrapper
            .date-dropdown__arrow
              +material-icons({_type: "keyboard_arrow_down"})
            input(type="text" readonly="true" placeholder="ДД.ММ.ГГГГ").date-dropdown__input.js-date-dropdown__input.date-dropdown__input-from.js-date-dropdown__input-from
        .date-dropdown__wrapper-to
          h3.date-dropdown__finish-text.h3=_finishText
          .date-dropdown__input-wrapper
            .date-dropdown__arrow
              +material-icons({_type: "keyboard_arrow_down"})
            input(type="text" readonly="true" placeholder="ДД.ММ.ГГГГ" value=_demoText).date-dropdown__input-to.js-date-dropdown__input-to