include ../material-icons/material-icons.pug

mixin date-dropdown ({}={})
    .date-dropdown    
        .date-dropdown__arrow
            +material-icons({_type: 'keyboard_arrow_down'})
        input(type="text" data-range="true").date-dropdown__input

    
    //- 
    //-     .date-dropdown__arrow
    //-         +material-icons({_type: 'keyboard_arrow_down'})
    //-     .date-dropdown__select
    //-     .date-dropdown__picker-wrapper
    //-         input(
    //-             type='text'
    //-             class='datepicker-here'
    //-         )