include ../material-icons/material-icons.pug

mixin date-dropdown ({_isFiltred=true,}={})
    .date-dropdown
        if(_isFiltred)    
            .date-dropdown__arrow
                +material-icons({_type: 'keyboard_arrow_down'})
            input(type="text" readonly="true").date-dropdown__input.date-dropdown__input-filtred
        else
            .date-dropdown__input-wrapper
                .date-dropdown__arrow
                    +material-icons({_type: 'keyboard_arrow_down'})
                input(type="text" readonly="true" placeholder="ДД.ММ.ГГГГ").date-dropdown__input.date-dropdown__input-from
            .date-dropdown__input-wrapper
                .date-dropdown__arrow
                    +material-icons({_type: 'keyboard_arrow_down'})
                input(type="text" readonly="true" placeholder="ДД.ММ.ГГГГ").date-dropdown__input-to