mixin carusel({ _imgLinks=[], }={}) 
    figure.carusel
        .carusel__wrapper.owl-carousel
            each item in _imgLinks
                - const {src, alt} = item          
                img(src=src alt=alt).carusel__img