.carusel{
    width: 270px;
    height: 151px;
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-end: unset;
    margin-inline-start: unset;

    &__wrapper{
        height: 151px;
    }

    &__img{
        border-radius: 4px 4px 0 0; 
    }

    .owl{

        &-prev,
        &-next{
            display: block;
            width: 44px;
            height: 151px;
            outline:none;
            position: absolute;
            top: 0;
        }

        &-prev span{
            padding-top: 1px;
        }

        &-prev span,
        &-next span{
            font-family: "Material Icons";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            color: #FFFFFF;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 44px;
        }

        &-prev{
            left: 0;
            border-radius: 4px 0 0 0;
            &::before {
                content: ""; 
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;               
                z-index: 1;
                border-radius: 4px 0 0 0;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            }
        }

        &-next{
            right: 0;
            &::before {
                content: ""; 
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;               
                z-index: 1;
                border-radius: 4px 0 0 0;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        }

        &-dots{
            position: absolute;
            right: 15px;
            bottom: 15px;
            width: 41.25px !important;
            height: 7.5px !important;
            z-index: 2;

            display: flex;
            justify-content: space-between;
        }

        &-dots .active{
            background-color: white;
        } 
    }

    button.owl-dot {
        width: 7.5px;
        height: 7.5px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        outline:none;
    }
}