include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../label/label.pug

mixin room-filter({ header, actionLink = '/change-me' }={})
  .room-filter
    h1.room-filter__header=header
    form(action=actionLink).room-filter__form
      .room-filter__date
        +date-dropdown({ isFiltered: false,  startText: 'прибытие', finishText: 'выезд'})
      .room-filter__guests
        +label({ text: 'гости' })
        +dropdown({
          text: 'Сколько гостей',
          options: [
            { text: 'взрослые', number: 0 },
            { text: 'дети', number: 0 },
            { text: 'младенцы', number: 0 },
          ]
        })
      .room-filter__search-button
        +button({ type: 'rich', name: 'findRoom', value: 'подобрать номер', actionLink: actionLink, hasShift:true})
