extends ../index

block content
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug

  - const { headerData, footerData } = require('@pages/website-pages/website-pages-template-data.json');
  .website-pages-template
    .website-pages-template__content
      +header(headerData)
      block template
    .website-pages-template__footer
      +footer(footerData)
