extends ../index

block content
  include ../../blocks/header/header.pug
  include ../../blocks/footer-with-copyright/footer-with-copyright.pug

  - const { headerData, footerData } = require('@pages/website-pages/website-pages-template-data.json');
  
  +header(headerData)

  block template

  +footer-with-copyright(footerData)
