extends ../website-pages-template

block variables
  -
    const title = 'TOXIN | Войти'
    const description = 'Войти в аккаунт на Toxin'

block template
  include ../../../blocks/sign-in-form/sign-in-form.pug

  .sign-in
    .sign-in__form
      +sign-in-form({ header: 'Войти' })
