@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';

@import '../../../fonts/montserrat/montserrat.css';
@import '../../../fonts/quicksand/quicksand.css';
@import '../../../fonts/materialicons/material-icons.css';
@import '../../../fonts/opensans/OpenSans.css';

@import '../website-pages-template.scss';

@import '../../../blocks/sign-in-form/sign-in-form.scss';

.sign-in {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: url('./img/sign.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  
  &__form {
    margin: 11.6429rem 0;
    max-width: 27.1429rem;
    width: 100%;
  }
}