@import '../../../scss/colors.scss';
@import '../website-pages-template.scss';
@import '../../../blocks/sign-in-form/sign-in-form.scss';

.sign-in {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 22.8571rem;
  height: auto;
  background-image: url('./img/sign.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  &__form {
    margin-top: 12.3571rem;
    margin-bottom: 12.2857rem;
    max-width: 27.1429rem;
    width: 100%;
  }
}

.pages{
  background: #FFFFFF;
}
