extends ../website-pages-template

block variables
  - const bgcolor = '#FFFFFF'
  - const title = 'Sign in'

block template
  include ../../../blocks/sign-in-form/sign-in-form.pug
      
  .sign-in(style="background-image: url(./img/sign.png);")
    .sign-in__form
      +sign-in-form({ header: 'Войти' })