mixin hamburger-menu({ menuItems=[] } = {})
  nav.hamburger-menu
    input.hamburger-menu__toggle(type="checkbox")
    .hamburger-menu__hamburger
      .hamburger-menu__lines
    ul.hamburger-menu__items
      each menuItem in menuItems
        - const {text, link, isCurrent} = menuItem
        li.hamburger-menu__item
          a.hamburger-menu__item-link(href=link, class = isCurrent && 'hamburger-menu__item-link_current')=text
