
mixin dropdown-option ({ _text, _number }={})

  section.dropdown-option.js-dropdown-option
    h3.dropdown-option__text.js-dropdown-option__text.h3=_text           
    .dropdown-option__button-block
      .dropdown-option__circle.js-dropdown-option__circle -
      h3.dropdown-option__number.js-dropdown-option__number.h3=_number
      .dropdown-option__circle.js-dropdown-option__circle +