
mixin dropdown-option ({ _text, _number }={})

    section.dropdown-option
        .dropdown-option__text.h3=_text           
        .dropdown-option__button-block
            .dropdown-option__circle -
            .dropdown-option__number.h3=_number
            .dropdown-option__circle +