@import '../../scss/mixins/body.scss';
@import '../../scss/mixins/h3.scss';
@import '../subscription-text-field/subscription-text-field.scss';
@import '../social-icons/social-icons.scss';

.footer-with-copyright {
  min-width: 22.8571rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  &__wrapper {
    &-main,
    &-right,
    &-bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
    }

    &-main,
    &-bottom {
      max-width: 1920px;
      width: 81.25%;
      padding: 0 0.3571rem;

      @media (max-width: 1920px){
        width: 81.25%;
      }

      @media (max-width: 1440px){
        max-width: 83.5714rem;
        width: 100%;
      }
    }

    &-bottom {
      min-height: 5.0714rem;
      height: min-content;
      align-items: center;

      @media (max-width: 580px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: unset;
        height: auto;
        margin: 0.7143rem 0;
      }
    }

    &-main {
      margin: 7.1429rem 0;

      @media (max-width: 1060px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3.5714rem 0;
      }

      @media (max-width: 780px) {
        margin: 0.7143rem 0;
      }
    }

    &-right {
      max-width: 81.8571rem;
      margin-top: 0.3571rem;

      @media (max-width: 1920px){
        width: 73.5%;
      }

      @media (max-width: 1440px){
        max-width: 61.4286rem;
        width: 100%;
      }

      @media (max-width: 910px) {
        display: none;
      }
    }

    &-shadow {
      &-top {
        box-shadow: 0 0.0714rem 0 $dark10;
        width: 100%;
      }

      &-top,
      &-bottom {
        display: flex;
        justify-content: center;
      }

      &-bottom {
        box-shadow: 0 0.7143rem 1.4286rem $dark05;
        width: 100%;

        @media (max-width: 910px) {
          display: none;
        }
      }
    }
  }

  &__logo-and-description {
    display: flex;
    flex-direction: column;
    max-width: 18.5714rem;
    width: 100%;

    @media (max-width: 1060px) {
      max-width: 75.7143rem;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    margin-bottom: 1.2143rem;
    display: inherit;
  }

  &__description {
    @include body;
    white-space: normal;

    @media (max-width: 1060px) {
      margin-bottom: 0.7143rem;
    }

    @media (max-width: 780px) {
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 52.0714rem;
    width: 100%;

    @media (max-width: 1920px){
      width: 63.95%;
    }

    @media (max-width: 1440px){
      max-width: 39.2857rem;
      width: 100%;
    }

    @media (max-width: 780px) {
      margin-bottom: 0.7143rem;
    }

    @media (max-width: 580px) {
      flex-direction: column;
      align-items: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      max-width: 10.7143rem;
      width: 100%;

      @media (max-width: 580px) {
        margin-bottom: 0.7143rem;
      }

      &-header {
        @include h3;
        margin-bottom: 1.5714rem;
      }

      &-option {
        @include body;
        margin-bottom: 1.5rem;
        text-decoration: none;
        line-height: 1.2143rem;
        color: $dark50;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    max-width: 18.5714rem;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 780px) {
      max-width: 55.7143rem;
      align-items: center;
    }

    &-header {
      @include h3;
      margin-bottom: 1.2857rem;
    }

    &-description {
      @include body;
      margin-bottom: 1.6429rem;

      @media (max-width: 780px) {
        text-align: center;
      }
    }
  }

  &__copyright {
    @include body;

    @media (max-width: 580px) {
      text-align: center;
    }
  }

  &__social-top {
    display: none;

    @media(max-width: 910px) {
      display: inherit;
    }
  }
}
