
mixin radio-buttons({ name, radioButtons=[] }={})
  section.radio-buttons        
    each rb in radioButtons
      label.radio-buttons__label
        - const { text, value, isChecked=false } = rb
        input.radio-buttons__input(type="radio")&attributes({name, value, checked: isChecked})
        .radio-buttons__text
          .radio-buttons__content=text