
mixin radio-buttons({ name, radioButtons=[] }={})
  section.radio-buttons        
    each rb in radioButtons
      label.radio-buttons__label
        -
          const { text, value, isChecked=false } = rb
          const attr = {}
          attr.type = 'radio'
          attr.name = name
          attr.value = value
          attr.checked = isChecked
          attr.class = 'radio-buttons__input'
        input&attributes(attr)
        .radio-buttons__text
          .radio-buttons__content=text