
mixin colors({ color, text, code, marginTopText='' })
  - let marginTop = ''
  if (marginTopText !== '')
    - marginTop = `colors__text_margin-top-${marginTopText}`

  .colors
    .colors__color(class="colors__color_"+color)
    .colors__content
      p.colors__text(class=marginTop)=text
      p.colors__code=code