
mixin bullet-list({ _isColored=false, _list=[] }={})
    ul.bullet-list
        if(_isColored)
            each item in _list
                - const {text, color} = item
                - var liMod = `bullet-list__li_bgcolor-${color}`
                li.bullet-list__wraper(class='bullet-list__wraper_margin-bottom-0')
                    .bullet-list__li(class=liMod)
                    .bullet-list__text(class='bullet-list__text_padding-left-5')=text
        else
            each item in _list
                li.bullet-list__wraper                    
                    .bullet-list__li
                    .bullet-list__text=item