@import '../../scss/mixins/h3.scss';
@import '../material-icons/material-icons.scss';
@import '../checkbox-button/checkbox-button.scss';

.expandable-checkbox-list {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 19rem;

  &__header {
    @include h3;
    display: flex;
    min-height: 2.8571rem;
    width: 100%;
    justify-content: left;
    align-items: center;
    cursor: default;
    user-select: none;
    cursor: pointer;
  }

  &__checkboxes {
    display: none;
    position: relative;
    margin-top: 0.4286rem;

    &_display {
      display: block;
      box-sizing: border-box;
    }
  }

  &__arrow {
    display: flex;
    position: absolute;
    min-width: 3.1429rem;
    min-height: 3.1429rem;
    width: min-content;
    height: min-content;
    right: 0;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-size: 1.7143rem;
    line-height: 1.7143rem;
    color: $dark50;
    cursor: pointer;
  }

  &__item{
    margin-bottom: 0.7143rem;
  }
}
