include ../text-field/text-field.pug
include ../button/button.pug


mixin sign-in({ _actionLink='/#moke', _header }={})
    .sign-in
        form(action=_actionLink).sign-in__form
            .sign-in__header.h1=_header
            .sign-in__email                
                +text-field({_placeholder:'Email', _id: 'signInEmail'})
            .sign-in__password
                +text-field({_placeholder:'Пароль', _isPassword: true, _id: 'signInPassword'})
            .sign-in__button                
                +button({_type: 'rich', _name: 'singIn', _value: 'войти'})
            .sign-in__sign-up
                .sign-in__sign-up-text.body='Нет аккаунта на Toxin?'
                .sign-in__sign-up-button
                    +button({_type: 'bordered', _name: 'singIn', _value: 'создать', _actionLink: '/#moke'})
