@import '../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css';

.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: flex;
  }
  
  &__price {
    display: flex;
    width: auto;
    max-width: 50%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-transform: uppercase;
    color: $dark50;
    border: none;
    pointer-events: none;
  }

  &__slider-wraper {
    width: 100%;
  }

  span.irs.irs--flat {
    top: -2px;
    min-height: 38px;
    height: min-content;

    .irs-line {
      height: 6px;
      background: #FFFFFF;
      border: 1px solid $dark25;
      box-sizing: border-box;
      border-radius: 3px;
      box-sizing: border-box;
    }

    .irs-handle {
      width: 16px;
      height: 16px;
      top: 20px;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      box-sizing: border-box;
    }

    i{
      display: none;
    }
    
    .irs-bar {
      height: 6px;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 3px;
      box-sizing: border-box;
    }
  }
}