include ../material-icons/material-icons.pug

mixin dropdown-nemu({ _text, _navOptions=[] }) 
    .dropdown-nemu
        .dropdown-nemu__text=_text
        .dropdown-nemu__arrow
            +material-icons({_type: 'keyboard_arrow_down'})
        .dropdown-nemu__links            
            each option in _navOptions
                - const {_textLink, _link} = option
                a(href=_link).dropdown-nemu__link=_textLink