@import '../material-icons/material-icons.scss';

.dropdown-nemu {
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 2px;

  @media (max-width: 580px) {
    margin-right: 0;
  }

  &__link,
  &__text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;
    text-decoration: none;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 24px;
    max-height: 18px;
    width: 100%;
    height: 100%;
    color: $dark50;
  }

  &__links {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    display: none;
    background-color: white;
    margin-top: 17px;
  }

  &__link {
    padding: 10px 10px;
  }
  
  &:hover &__links {
    display: flex;
    flex-direction: column;
  }
}