.pagination{

    &__container{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }

    &__item{           
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin-top: -1px;

        &_active{
            border-radius: 22px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
    }
    
    &__item,
    &__next{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;     
    }

    &__link{
        height: min-content;
        color: $dark50;
        text-decoration: none;

        &_next,
        &_active{
            color: white;
        }

        &_next{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }

    &__next{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;
    }

    &__caption{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $dark75;
        margin-top: 8px;
        margin-left: 5px;
    }

    &__ellipsis{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $dark50;
    }
}