include ../material-icons/material-icons.pug

mixin rate-button ({ rate }={})
  -
    let i = 0
    const n = 5 - rate

  figure.rate-button
    while i < rate
      .rate-button__star
        +material-icons({type: 'star'})
      - i+=1
    - i = 0
    while i < n
      .rate-button__star-border
        +material-icons({type: 'star_border'})
      - i+=1