@import '../material-icons/material-icons.scss';

.rate-button {
  max-width: 8.5714rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $purple;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}
