extends ../ui-kit-template

block variables
  -
    const bgcolor = '#FFFFFF'
    const title = 'Colors and type'
    const description = 'Colors and type used on pages'

block template
  include ../../../blocks/ui-colors/ui-colors.pug
  include ../../../blocks/ui-types/ui-types.pug

  - const { colors, types } = require('@pages/ui-kit/colors-and-type/colors-and-type-data.json');

  main.colors-and-type
    .colors-and-type__content-wrapper
      .colors-and-type__content
        section.colors-and-type__colors
          each color in colors
            +ui-colors(color)
        section.colors-and-type__types
          each typ in types
            +ui-types(typ)
