
mixin material-icons ({ type, fontSize = 24} = {})
  - var fontSizeStyle = ''
  
  if (fontSize !== 24)
    - fontSizeStyle = "material-icons_font-size-" + fontSize  
  i.material-icons.js-material-icons(class=fontSizeStyle)=type