@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../material-icons/material-icons.scss';

.dropdown-menu {
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 1.4286rem;
  padding-top: 0.1429rem;

  @media (max-width: 580px) {
    margin-right: 0;
  }

  &__link,
  &__text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2143rem;
    color: $dark50;
    text-decoration: none;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1.7143rem;
    max-height: 1.2857rem;
    width: 100%;
    height: 100%;
    color: $dark50;
  }

  &__links {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0.2857rem 0.2857rem;
    display: none;
    background-color: white;
    margin-top: 1.2143rem;

    &_displayed {
      display: flex;
      flex-direction: column;

    }
  }

  &__link {
    padding: 1rem;

    &:hover {
      background-color: $dark05;
    }
  }
}
