.ui-types {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5714rem;

  &__tag {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $dark25;
    max-width: 2.6429rem;
    width: 100%;
    text-align: right;
    margin-right: 2.1429rem;

    &_font-size-24 {
      font-size: 1.7143rem;
      line-height: 2.0714rem;
    }

    &_font-size-19 {
      font-size: 1.3571rem;
      line-height: 1.6429rem;
    }

    &_font-size-14 {
      font-size: 1rem;
      line-height: 1.7143rem;
    }

    &_font-size-12 {
      font-size: 0.8571rem;
      line-height: 1.0714rem;
    }
  }

  &__text {
    &_font-Quicksand {
      font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
    }

    &_font-Montserrat {
      font-family: 'Montserrat', Arial, sans-serif;
    }

    &_font-weight-normal {
      font-weight: normal;
    }

    &_font-weight-bold {
      font-weight: bold;
    }

    &_font-size-24 {
      font-size: 1.7143rem;
      line-height: 2.1429rem;
    }

    &_font-size-19 {
      font-size: 1.3571rem;
      line-height: 1.7143rem;
    }

    &_font-size-14 {
      font-size: 1rem;
      line-height: 1.7143rem;
    }

    &_font-size-12 {
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
    }

    &_color-dark100 {
      color: $dark100;
    }

    &_color-dark75 {
      color: $dark75;
    }
  }

  &__margin-bottom-51{
    margin-bottom: 3.6429rem;
  }
}
