.dropdown-option-button {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  text-transform: uppercase;
  width: auto;
  max-width: 22.7143rem;
  min-height: 3.2857rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__drop {
    display: inline-block;
    color: $purple;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &_hide {
      visibility: hidden;
      cursor: row-resize;
    }
  }

  &__apply {
    color: $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    cursor: pointer;
  }

  &__drop,
  &__apply {
    padding-top: 0.4286rem;
    appearance: button;
    text-rendering: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    background-color: unset;
    box-sizing: unset;
    margin: unset;
    font: inherit;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    outline: none;

    &:hover {
      color: $dark50;
      background: none;
    }
  }
}
