
mixin dropdown-option-button({ dropText, applyText }={})
  .dropdown-option-button.js-dropdown-option-button
    button(type="button").dropdown-option-button__drop.js-dropdown-option-button__drop=dropText
    button(type="button").dropdown-option-button__apply.js-dropdown-option-button__apply=applyText