
mixin dropdown-option-button({_drop_text, _apply_text}={})
  .dropdown-option-button.js-dropdown-option-button
    button.dropdown-option-button__drop.js-dropdown-option-button__drop=_drop_text
    button.dropdown-option-button__apply.js-dropdown-option-button__apply=_apply_text