
mixin dropdown-option-button({ dropText, applyText }={})
  .dropdown-option-button.js-dropdown-option-button
    button.dropdown-option-button__drop.js-dropdown-option-button__drop=drop_text
    button.dropdown-option-button__apply.js-dropdown-option-button__apply=apply_text