include ../logo-site/logo-site.pug
include ../social-icons/social-icons.pug

mixin footer({ descriptionText })
  footer.footer
    .footer__wrapper
      figure.footer__icon
        +logo-site()
      .footer__description=descriptionText
      .footer__social
        +social-icons({
          icons: [
            { link: 'https://twitter.com/', img: './img/twitter.png', alt: 'Twitter' },
            { link: 'https://www.facebook.com/', img: '/img/facebook.png', alt: 'Facebook' },
            { link: 'https://www.instagram.com/', img: './img/instagram.png', alt: 'Instagram' },
          ]
        })