include ../logo-site/logo-site.pug
include ../social-icons/social-icons.pug

mixin footer({ descriptionText })
  footer.footer
    .footer__wrapper
      figure.footer__icon
        +logo-site()
      .footer__description.body=descriptionText
      .footer__social
        +social-icons({ 
          twitter: 'https://twitter.com/',  
          facebook: 'https://www.facebook.com/', 
          instagram: 'https://www.instagram.com/',
        })