include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list ({_header, _checkboxes =[]}={})
    section.expandable-checkbox-list
        .expandable-checkbox-list__arrow
            +material-icons({_type: 'keyboard_arrow_down'})
        .expandable-checkbox-list__header.h3=_header
        .expandable-checkbox-list__checkboxes
            each checkbox in _checkboxes
                - const {_text, _isChecked} = checkbox
                +checkbox-button({_text, _isChecked})