
mixin material-icons ({_type, _fontSize = 24} = {})
    - var fontSize = ''
    if(_fontSize != 24)
        - fontSize = 'material-icons_font-size-' + _fontSize

    i.material-icons(class = fontSize)=_type