
mixin material-icons ({_type, _fontSize = 24, _color = ''} = {})
    - var mods = ''
    if(_fontSize != 24)
        - mods = 'material-icons_font-size-' + _fontSize

    if(_color != '')
        - mods += ' material-icons_color-' + _color

    i.material-icons(class = mods)=_type