block variables

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=title
    body(bgcolor=_bgcolor, style='margin: 0; box-sizing: border-box;')
        block content