.dropdown-option-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: auto;
  max-width: 318px;
  min-height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__drop {
    display: inline-block;
    color: $dark50;
    padding-left: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &_hide {
      visibility: hidden;
      cursor: row-resize;
    }
  }

  &__apply {
    color: $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;
    cursor: pointer;
  }
  
  &__drop,
  &__apply {
    padding-top: 6px;
    appearance: button;
    text-rendering: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    background-color: unset;
    box-sizing: unset;
    margin: unset;
    font: inherit;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    outline: none;
  }
}