@import '../../../../node_modules/owl.carousel/dist/assets/owl.carousel.css';

.carousel {
  min-width: 19.2857rem;
  min-height: 10.7857rem;
  width: min-content;
  height: min-content;
  display: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-end: unset;
  margin-inline-start: unset;

  &__wrapper {
    min-height: 10.7857rem;
    height: min-content;
  }

  &__img {
    border-radius: 0.2857rem 0.2857rem 0 0;
  }

  .owl{
    &-prev,
    &-next {
      display: block;
      min-width: 3.1429rem;
      min-height: 10.7857rem;
      height: min-content;
      width: min-content;
      outline: none;
      position: absolute;
      top: 0;
    }

    &-prev span {
      padding-top: 0.0714rem;
    }

    &-prev span,
    &-next span {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: normal;
      font-size: 1.7143rem;
      line-height: 1.7143rem;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 3.1429rem;
      min-height: 3.1429rem;
      height: min-content;
      width: min-content;
      position: relative;
      z-index: 1;
    }

    &-prev {
      left: 0;
      border-radius: 0.2857rem 0 0 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 0.2857rem 0 0 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &-next {
      right: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 0.2857rem 0 0 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

    &-dots {
      position: absolute;
      right: 1.0714rem;
      bottom: 1.0714rem;
      min-width: 2.9464rem;
      min-height: 0.5357rem;
      height: min-content;
      width: min-content;
      z-index: 2;
      display: flex;
      justify-content: space-between;
    }

    &-dots .active {
      background-color: white;
    }

    &-nav {
      display: none;
    }

    &-carousel:hover .owl-nav {
      display: block;
    }
  }

  button.owl-dot {
    min-width: 0.5357rem;
    min-height: 0.5357rem;
    height: min-content;
    width: min-content;
    border: 0.0714rem solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0.3571rem 0.3571rem rgba(31, 32, 65, 0.3);
    outline: none;
  }
}
