mixin social-icons({ twitter,  facebook, instagram}={}) 
  figure.social-icons
    a(href=twitter target="_blank" rel="noopener noreferrer").social-icons__ico
      img(src="./img/twitter.png" alt="Twitter").social-icons__img
    a(href=facebook target="_blank" rel="noopener noreferrer").social-icons__ico
      img(src="./img/facebook.png" alt="Facebook").social-icons__img
    a(href=instagram target="_blank" rel="noopener noreferrer").social-icons__ico
      img(src="./img/instagram.png" alt="Instagram").social-icons__img