.social-icons {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  align-items: baseline;
  padding-top: 0.0714rem;


  &__ico {
    margin-right: 1.5714rem;
    display: flex;

    &:last-child{
      margin-right: 0.0714rem;
    }

    &:first-of-type{
      margin-right: 1.5rem;
    }
  }
}