mixin social-icons({ icons=[], isForSmallFooter=false }={})
  aside.social-icons(class= isForSmallFooter && 'social-icons_small')
    each icon in icons
      -
        const { link, img, alt } = icon
        const linkAttr = {
          href: link,
          target: '_blank',
          rel: 'noopener noreferrer',
          class: 'social-icons__icon',
        }
      a&attributes(linkAttr)
        img.social-icons__img&attributes({src: img, alt})
