mixin social-icons({ icons }={}) 
  figure.social-icons
    each icon in icons
      -
        const { link, img, alt } = icon
        const linkAtrr = {
          href: link,
          target: '_blank',
          rel: 'noopener noreferrer',
          class: 'social-icons__ico',
        }
        const imgAttr = {
          src: img,
          alt: alt,
          class: 'social-icons__img',
        }
      a&attributes(linkAtrr)
        img&attributes(imgAttr)