include ../like-button/like-button.pug 

mixin comment({ _avatarSrc, _avatarName, _avatarDate, _likeNumber, _isLiked=false, _text }={})
    .comment
        .comment__head
            .comment__avatar
                img(src= _avatarSrc, alt=_avatarName).comment__avatar
            .comment__avatar-text.body
                .comment__avatar-name=_avatarName
                .comment__avatar-date=_avatarDate
        .comment__body
            .comment__like
                +like-button({_number: _likeNumber, _isClicked: _isLiked})
            .comment__content.body=_text