@import '../like-button/like-button.scss';

.comment {
  display: inline-block;
  max-width: 714px;
  width: 100%;

  &__head {
    display: flex;
    flex-direction: row;
  }

  &__avatar {
    max-width: 48px;
    max-height: 48px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark10;
    border-radius: 32px;
  }

  &__avatar-text {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark75;
    margin-left: 11px;
    margin-top: 2px;
  }

  &__avatar-name {
    font-weight: bold;
  }
  
  &__body {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  &__like {
    display: flex;
    margin-left: 6px;
    margin-top: 2px;
  }
  
  &__content {
    margin-left: 14px;
  }
}