.text-field {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid $dark25;

    &:focus,
    &:hover {
        border: 1px solid $dark50;
    }
}