mixin text_field(_placeholder, _id, isMasked)

    - var maskedMod = '';

    if isMasked  
        - maskedMod = ' text_field_masked'
        - _placeholder = 'ДД.ММ.ГГГГ'
    
    input(
        type="text" 
        placeholder=_placeholder 
        id=_id 
        class=`text-field${maskedMod}`
    )