@import '../../../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css';

.range-slider {
  max-width: 19rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    line-height: 1.0714rem;
  }
  
  &__price {
    display: flex;
    width: auto;
    max-width: 50%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8571rem;
    line-height: 1rem;
    text-align: right;
    text-transform: uppercase;
    color: $dark50;
    border: none;
    pointer-events: none;
  }

  &__slider-wrapper {
    width: 100%;
  }

  span.irs.irs--flat {
    top: -0.1429rem;
    min-height: 2.7143rem;
    height: min-content;

    .irs-line {
      height: 0.4286rem;
      background: #FFFFFF;
      border: 0.0714rem solid $dark25;
      box-sizing: border-box;
      border-radius: 0.2143rem;
      box-sizing: border-box;
      top: 1.7143rem;
    }

    .irs-handle {
      width: 1.1429rem;
      height: 1.1429rem;
      top: 1.4286rem;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 0.1429rem solid #FFFFFF;
      border-radius: 0.7143rem;
      box-sizing: border-box;
    }

    i{
      display: none;
    }
    
    .irs-bar {
      height: 0.4286rem;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 0.2143rem;
      box-sizing: border-box;
      top: 1.7143rem;
    }
  }
}