
mixin range-slider({ label = 'Range Slider', type = 'double', min = 765, max = 14800, step = 1, from = 5000, to = 10000, isMinMaxHidden = true, isFromToHidden = true, }={})
  section.range-slider.js-range-slider
    .range-slider__header
      h3.range-slider__label=label
      input(type="text" readonly).range-slider__price.js-range-slider__price
    .range-slider__slider-wrapper
      -
        const attr = {
          'data-type': type,
          'data-min': min,
          'data-max': max,
          'data-step': step,
          'data-from': from,
          'data-to': to,
          'data-hide-min-max': String(isMinMaxHidden),
          'data-hide-from-to': String(isFromToHidden),
          class: 'range-slider__slider js-range-slider__slider'
        }        
      input&attributes(attr)