.room-details{
    justify-content: center;

    &__header{

    }

    &__wrapper{

        &-pic{
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &-main{
            display: flex;
            justify-content: center;
        }

        &-info{
            display: flex;
            justify-content: space-between;
            max-width: 710px;
            width: 100%;
            margin-bottom: 30px;
        }

        &-comments{
            display: flex;
            flex-direction: column;            
            margin-bottom: 30px;

            &-header{
                display: flex;
                justify-content: space-between;
                max-width: 710px;
                width: 100%;
            }
        }

        &-rulles{
            display: flex;
            justify-content: space-between;
            max-width: 710px;
            width: 100%;
        }
    }

    &__pic{

        &-main{
            display: flex;
            justify-content: center;
            height: auto;
        }

        &-right{
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-img{
                width: 100%;
                height: auto;
            }
        }
    }

    &__main{
        display: flex;
        justify-content: space-between;
        max-width: 1160px;
        width: 100%;
        margin: 70px 0;
    }

    &__datails{
        display: flex;
        flex-direction: column;
    }

    &__info,
    &__feeling,
    &__comments,
    &__rulles,
    &__cancel{        
        &-header{
            margin-bottom: 20px;
        }
    }

    &__info{
        
    }

    &__feeling{

    }

    &__comments{


        &-total{

        }
    }

    &__rulles{
        max-width: 340px;
    }

    &__cancel{
        max-width: 340px;
    }

    &__price{

    }

    &__footer{

    }
}