@import '../../../scss/colors.scss';
@import '../../../scss/mixins/body.scss';
@import '../../../scss/mixins/h2.scss';

@import '../website-pages-template.scss';

@import '../../../blocks/donut-chart/donut-chart.scss';
@import '../../../blocks/bullet-list/bullet-list.scss';
@import '../../../blocks/comment/comment.scss';
@import '../../../blocks/room-price/room-price.scss';
@import '../../../blocks/icon-text-list/icon-text-list.scss';

.room-details {
  justify-content: center;

  &__wrapper {

    &-pic {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      max-height: 34.6429rem;
      margin-block-start: unset;
      margin-block-end: unset;
      margin-inline-start: unset;
      margin-inline-end: unset;

      @media (max-width: 1350px) {
        flex-direction: column;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        align-items: center;
      }
    }

    &-main {
      display: flex;
      justify-content: center;
      border-bottom: 0.0714rem solid $dark25;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2.3571rem;
      margin-left: 0.2143rem;

      @media (max-width: 379px) {
        flex-direction: column;
        margin-bottom: 1.4286rem;
      }
    }

    &-comments {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.3571rem;

      &-header {
        display: flex;
        justify-content: space-between;
        max-width: 50.7143rem;
        width: 100%;
        margin-bottom: 1.2857rem;
        margin-left: 0.1429rem;
      }
    }

    &-rulles {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 0.1429rem;

      @media (max-width: 620px) {
        flex-direction: column;
      }
    }

    &-feeling {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media (max-width: 620px) {
        justify-content: center;
      }
    }
  }

  &__pic {
    &-main {
      display: flex;
      justify-content: center;
      height: auto;

      &-img {
        width: 100%;
        height: auto;
      }

      @media (max-width: 1350px) {
        min-height: 0;
        width: auto;
        height: auto;
        flex-direction: column;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1350px) {
        flex-direction: row;
      }

      @media (max-width: 460px) {
        flex-direction: column;
      }

      &-img {
        min-height: 17.1429rem;
        min-width: 32.8571rem;
        height: auto;
        overflow: hidden;

        @media (max-width: 1350px) {
          width: 50%;
        }

        @media (max-width: 920px) {
          min-height: 0;
          min-width: 0;
        }

        @media (max-width: 460px) {
          width: 100%;
        }
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    max-width: 84rem;
    width: 100%;
    margin: 4.6429rem 0 4.7857rem 0;

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__datails {
    display: flex;
    flex-direction: column;
    max-width: 50.7143rem;
    width: 100%;
    padding: 0.3571rem;
  }

  &__info,
  &__feeling {
    &-header {
      @include h2;
      margin-bottom: 1.4286rem;
    }
  }

  &__feeling {
    max-width: 25rem;
    width: 100%;

    &-header {
      padding-left: 0.0714rem;
    }

    &-chart {
      margin-right: 1.9286rem;
    }

    &-descriptions {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.0714rem;
    }
  }

  &__comments {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-total {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1rem;
      color: $dark50;
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.2143rem;
    }

    &-header{
      @include h2;
    }
  }

  &__rulles {
    max-width: 24.2857rem;

    @media (max-width: 620px) {
      margin-bottom: 1.4286rem;
    }

    &-header {
      @include h2;
      padding-left: 1.5rem;
      margin-bottom: 1.2143rem;

      @media (max-width: 620px) {
        margin-bottom: 1.4286rem;
        padding-left: 0;
      }
    }
  }

  &__cancel {
    @include body;
    max-width: 24.2857rem;
    margin-right: 0.5714rem;

    &-header {
      @include h2;
      margin-bottom: 1.2143rem;
    }
  }

  &__price {
    max-width: 27.1429rem;
    width: 100%;
    padding: 0.3571rem;
    margin-right: 0.2143rem;
  }
}
