extends ../ui-kit-template

block variables
  - let _bgcolor='#F4F4F6'
  - let title='Cards'

block template
  include ../../../blocks/room-filter/room-filter.pug 
  include ../../../blocks/sign-in-form/sign-in-form.pug
  include ../../../blocks/room-price/room-price.pug
  include ../../../blocks/sign-up/sign-up.pug
  include ../../../blocks/room-preview/room-preview.pug

  .cards
    .cards__main-wrapper
      main.cards__main
        .cards__content-left
          +room-filter({ header: 'Найдём номера под ваши пожелания' })
          .cards__separator
          +sign-up({ header: 'Регистрация аккаунта' })
        .cards__content-center
          +room-price({
            number: '888', 
            isLuxe: true,
            pricePerDay: '9 990', 
            servicePrice: '2179', 
            discountForService: '2179',
            serviceInfo: '', 
            addServicePrice: '300', 
            addServiceInfo: ''
          })
          .cards__separator
          +sign-in-form({ header: 'Войти' })
        .cards__content-right
          .cards__calendar-moke
          .cards__separator
          +room-preview({
            imgLinks:[
              {src:'./img/room888.png', alt:'room #888'},
              {src:'./img/room888.png', alt:'room #888'},
              {src:'./img/room888.png', alt:'room #888'},
              {src:'./img/room888.png', alt:'room #888'}
            ], 
            number: 888, 
            isLuxe: true, 
            price: '9 990', 
            rate: 5, 
            comments: 145
          })
          .cards__separator_margin-bottom-38
          +room-preview({
            imgLinks:[
              {src:'./img/room840.png', alt:'room #840'},
              {src:'./img/room840.png', alt:'room #840'},
              {src:'./img/room840.png', alt:'room #840'},
              {src:'./img/room840.png', alt:'room #840'}
              ], 
            number: 840, 
            isLuxe: true, 
            price: '9 990', 
            rate: 4, 
            comments: 65
          })