extends ../ui-kit-template

block variables
  -
    const bgcolor = '#F4F4F6'
    const title = 'Cards'
    const description = 'Cards used on pages'

block template
  include ../../../blocks/room-filter/room-filter.pug
  include ../../../blocks/sign-in-form/sign-in-form.pug
  include ../../../blocks/room-price/room-price.pug
  include ../../../blocks/sign-up/sign-up.pug
  include ../../../blocks/room-preview/room-preview.pug

  - const { cardsData } = require('@pages/ui-kit/cards/cards-data.json')

  .cards
    .cards__main-wrapper
      main.cards__main
        .cards__content-left
          +room-filter(cardsData.roomFilter)
          .cards__separator
          +sign-up(cardsData.signUp)

        .cards__content-center
          +room-price(cardsData.roomPrice)
          .cards__separator
          +sign-in-form(cardsData.signInForm)

        .cards__content-right
          .cards__calendar-moke
          .cards__separator
          +room-preview(cardsData.roomPreviewFirst)
          .cards__separator_margin-bottom-38
          +room-preview(cardsData.roomPreviewSecond)
