@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';
@import '../ui-kit-template.scss';

@import '../../../blocks/room-filter/room-filter.scss';
@import '../../../blocks/room-price/room-price.scss';
@import '../../../blocks/sign-in-form/sign-in-form.scss';
@import '../../../blocks/sign-up/sign-up.scss';
@import '../../../blocks/room-preview/room-preview.scss';

.cards {
  &__main-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    margin-top: 4.5rem;
  }

  &__main {
    max-width: 83.5714rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1110px) {
      flex-wrap: wrap;
    }

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-left,
  &__content-center {
    max-width: 27.1429rem;
    width: 100%;
    margin: 0.3571rem;
  }

  &__content-right {
    max-width: 22.8571rem;
    width: 100%;
    margin: 0.3571rem;
  }

  &__separator {
    margin-bottom: 2.8571rem;

    &_margin-bottom-38{
      margin-bottom: 2.7143rem;
    }
  }

  &__separator,
  &__separator_margin-bottom-38{
    @media (max-width: 1110px) {
      margin-bottom: 0.7143rem;
    }
  }

  &__calendar-moke {
    max-width: 22.8571rem;
    width: 100%;
    min-height: 26.3571rem;
    border: 0.0714rem solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0 0 1.7857rem rgba(0, 0, 0, 0.2);
    border-radius: 0.2857rem;
    background-color: white;
  }
}
