.header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px $dark05;
    
    @media (max-width: 870px){
        height: auto;
        padding: 10px 0;
    }

    &__wrapper{
        max-width: 1160px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        @media (max-width: 870px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__logo{
        margin-top: 3px;        
    }

    &__navigation-wrapper{
        display: flex;
        justify-content: space-between;
        
        @media (max-width: 760px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 760px){
            margin-bottom: 10px;
        }

        @media (max-width: 580px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }        

        &-link,
        &-sublinks{
            font-family: 'Montserrat', sans-serif;;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $dark50;
            margin-right: 30px;
            text-decoration: none;
            letter-spacing: -0.0135em;

            &_font-weight-bold{
                font-weight: bold;
                color: $dark75;
            }

            &_short{
                margin-right: 20px;                
            }

            @media (max-width: 580px){
                margin-right: 0;
            }
        } 

        &_margin-bottom-1{
            margin-bottom: 1px;
        }
    }

    &__sign{
        display: flex;
        justify-content: flex-end;
    }

    &__unlogged{
        display: flex;
        justify-content: space-between;
        height: 34px;
    }
    
    &__sign-up-button{
        margin-left: 20px;
    }

    &__logged{
        display: flex;
        justify-content: flex-end;;
        margin-right: 1px;
    }

    &__username{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark50;
        height: 30px;
        border-left: 1px solid $dark10;
        padding-left: 30px;
        display: flex;
        align-items: center;

        @media (max-width: 760px){
            padding-left: 0;
            border-left: none;
            border-top: 1px solid $dark10;
        }
    }

    &__logged_hide,
    &__unlogged_hide{
        display: none;
    }
}