@import '../../scss/fonts/montserrat/montserrat.scss';

.checkbox-button {
  white-space: nowrap;
  min-height: 1.4286rem;
  width: fit-content;
  max-width: 17.5rem;
  margin-bottom: 0.7857rem;
  box-sizing: border-box;

  &_rich {
    margin-bottom: 0.6429rem;
    max-width: 18.5rem;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__text {
    position: relative;
    user-select: none;
  }

  &__header {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4286rem;
    color: $dark75;
    user-select: none;
    display: block;
    width: fit-content;
    margin-left: 2.1429rem;
    cursor: pointer;
    white-space: normal;
  }

  &__content {
    white-space: normal;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2857rem;
    color: $dark50;
    user-select: none;
    display: block;
    margin-left: 2.1429rem;
    cursor: pointer;

    &_rich {
      font-size: 0.8571rem;
      line-height: 1rem;
      // max-width: 16.4286rem;
      margin-top: 0.3571rem;
    }
  }

  &__text::before {
    content: '';
    position: absolute;
    left: 0;
    top: -0.0714rem;
    min-width: 1.4286rem;
    min-height: 1.4286rem;
    width: min-content;
    height: min-content;
    border: 0.0714rem solid $dark25;
    box-sizing: border-box;
    border-radius: 0.2857rem;
    cursor: pointer;
  }

  &__text::after {
    content: '';
    display: none;
    width: .2857rem;
    height: .5rem;
    border-right: .1429rem solid;
    border-bottom: .1429rem solid;
    border-image-source: linear-gradient(180deg,#bc9cff,#8ba4f9);
    border-image-slice: 0 1 1 0;
    transform: rotate(45deg);
    position: absolute;
    top: .2143rem;
    left: .5rem;
    cursor: pointer;
  }

  &__input:checked + &__text::before {
    border: 0.0714rem solid $purple;
  }

  &__input:checked + &__text::after {
    display: inline-block;
  }
}
