extends ../website-pages-template

block variables
  - var _bgcolor="#FFFFFF"
  - let title="Registration"

block template
  include ../../../common.blocks/sign-up/sign-up.pug
      
  main.registration(style="background-image: url(./img/sign.png);")
    .registration__form
      +sign-up({_header: "Регистрация аккаунта",})