extends ../website-pages-template

block variables
  - let bgcolor = '#FFFFFF'
  - let title = 'Registration'

block template
  include ../../../blocks/sign-up/sign-up.pug
      
  main.registration(style="background-image: url(./img/sign.png);")
    .registration__form
      +sign-up({ header: 'Регистрация аккаунта', })