extends ../website-pages-template

block variables
  -
    const bgcolor = '#FFFFFF'
    const title = 'Registration'

block template
  include ../../../blocks/sign-up/sign-up.pug
      
  main.registration
    .registration__form
      +sign-up({ header: 'Регистрация аккаунта', })