@import '../../../scss/colors.scss';
@import '../../../scss/main.scss';

@import '../../../fonts/montserrat/montserrat.css';
@import '../../../fonts/quicksand/quicksand.css';
@import '../../../fonts/materialicons/material-icons.css';
@import '../../../fonts/opensans/OpenSans.css';

@import '../website-pages-template.scss';

@import '../../../blocks/sign-up/sign-up.scss';

.registration {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  
  &__form {
    margin: 2.1429rem 0 1.8571rem 0;
    max-width: 27.1429rem;
    width: 100%;
  }
}