extends ../website-pages-template

block variables
  -
    const title = 'Registration'
    const description = 'Зарегистрироваться на Toxin'

block template
  include ../../../blocks/sign-up/sign-up.pug

  main.registration
    .registration__form
      +sign-up({ header: 'Регистрация аккаунта', submitButtonValue: 'зарегистрироваться' })
