@import '../../../scss/colors.scss';

@import '../website-pages-template.scss';

@import '../../../blocks/sign-up/sign-up.scss';

.registration {
  min-width: 22.8571rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: url('./img/sign.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 79.7%;

  &__form {
    margin: 1.3571rem 0 1.34rem .4286rem;
    max-width: 27.1429rem;
    width: 100%;
  }
}

.pages{
  background: #FFFFFF;
}
