@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../../scss/mixins/h3.scss';

.label {
  display: flex;
  justify-content: space-between;

  &_short {
    max-width: 19rem;
  }

  &__caption {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
    color: $dark50;

    &_small{
      line-height: 0.5714rem;
    }
  }

  &__text {
    @include h3;
    display: inherit;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
  }
}
