
mixin label({ text, marginBottom, caption, isSmall = false, isShort = false }={})
  -
    const smallClass = isSmall && 'label__caption_small'
    const short = isShort ? ' label_short' : ''

  .label(class=short)
    h3.label__text=text
    .label__caption(class=smallClass)=caption
