mixin social-icons({ _twitter,  _facebook, _instagram}={}) 
    figure.social-icons
        a(href=_twitter target="_blank" rel="noopener noreferrer").social-icons__ico-twitter
            img(src="./img/twitter.png" alt="Twitter").social-icons__img
        a(href=_facebook target="_blank" rel="noopener noreferrer").social-icons__ico-facebook
            img(src="./img/facebook.png" alt="Facebook").social-icons__img
        a(href=_instagram target="_blank" rel="noopener noreferrer").social-icons__ico-instagram
            img(src="./img/instagram.png" alt="Instagram").social-icons__img