mixin social-icons({ _twitter,  _facebook, _instagram}={}) 
    .social-icons
        a(href=_twitter).social-icons__ico-twitter
            img(src='./img/twitter.png').social-icons__img
        a(href=_facebook).social-icons__ico-facebook
            img(src='./img/facebook.png').social-icons__img
        a(href=_instagram).social-icons__ico-instagram
            img(src='./img/instagram.png').social-icons__img