
mixin toggle({ name, text, isChecked=false }={})
  .toggle
    label.toggle__label
      input.toggle__input(type="checkbox")&attributes({name, checked: isChecked})
      .toggle__text
        .toggle__content=text
