
mixin toggle({ name, text, isChecked=false }={})
  .toggle
    label.toggle__label
      -
        const inputAttr = {
          type: "checkbox", 
          name: name, 
          checked: isChecked, 
          class: 'toggle__input'
        }
      input&attributes(inputAttr)
      .toggle__text
        .toggle__content=text