
mixin toggle({ name, text, isChecked=false }={})
  .toggle
    label.toggle__label
      input(type="checkbox", name=name, checked=isChecked).toggle__input
      .toggle__text
        .toggle__content=text