.dropdown{
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 318px;
    background: #FFFFFF;   
    margin-top: 5px;    
    border: 1px solid $dark25;
    border-radius: 4px; 
        
    &__select{
        box-sizing: border-box;        
        position: relative;
        height: 44px; 
        padding: 8px 15px;
        
       &_text{
            display: block;
            max-width: 70.5%;  
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: $dark75;
            outline: none;
       }        
    }

    &__arrow{
        display: flex;
        position: absolute;
        width: 44px;
        height: 44px;
        right: 0;        
        vertical-align: middle;        
        justify-content: center;
        align-items: center;
    }

    &__options{
        display: none;
        &_active{
            display: block;
            border-top: 1px solid $dark50;
        }        
    }  
    
    &_active{
        border: 1px solid $dark50;
    }

    &_width-short{
        max-width: 264px;
    }
}