include ../material-icons/material-icons.pug

mixin icon-text-list ({_items=[]}={})
    
    .icon-text-list
        each item in _items
            - const {_icon, _header, _content} = item
            .icon-text-list__wraper
                .icon-text-list__icon
                    +material-icons({_type: _icon, _fontSize: 48})
                .icon-text-list__content
                    .icon-text-list__header=_header
                    .icon-text-list__text=_content