include ../text-field/text-field.pug
include ../button/button.pug


mixin sign-in-form({ actionLink='/moke', header }={})
  .sign-in-form
    form(action=actionLink).sign-in-form__form
      h1.sign-in-form__header=header
      .sign-in-form__email
        +text-field({ placeholder: 'Email', name: 'signInEmail' })
      .sign-in-form__password
        +text-field({ placeholder: 'Пароль', type: 'password', name: 'signInPassword' })
      .sign-in-form__button
        +button({ type: 'rich', name: 'singIn', value: 'войти' })
      .sign-in-form__sign-up
        .sign-in-form__sign-up-text="Нет аккаунта на Toxin?"
        .sign-in-form__sign-up-button
          +button({ type: 'short-bordered', name: 'singIn', value: 'создать', actionLink: '/changeMe' })
