@import '../carousel/carousel.scss';
@import '../rate-button/rate-button.scss';

.room-preview {
  max-width: 19.2857rem;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0.7143rem 1.4286rem rgba(31, 32, 65, 0.05);
  border-radius: 0.2857rem;
  background-color: white;

  &_with-margin {
    margin: 0.3571rem 0.3571rem 1.0714rem 0.3571rem;
  }

  &__description-wrapper {
    padding: 1.4286rem 1.2857rem 1.0714rem 1.4286rem;
  }

  &__description-top {
    display: flex;
    justify-content: space-between;

    &-wrapper {
      &-num,
      &-price {
        display: flex;
        flex-direction: row;
      }
    }

    &-number,
    &-num,
    &-luxe {
      display: flex;
      align-items: flex-end;
    }

    &-number {
      font-family: 'Quicksand', 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.2143rem;
      color: $dark100;
      margin-right: 0.2857rem;
      padding-bottom: 0.0714rem;
    }

    &-num {
      font-family: 'Quicksand', 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.3571rem;
      line-height: 1.7857rem;
      color: $dark100;
    }

    &-luxe {
      margin-left: 0.3571rem;
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
      color: $purple;
      padding-bottom: 0.1429rem;
      &_hide {
        display: none;
      }
    }

    &-price,
    &-price-per-day {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      line-height: 1.2857rem;
      color: $dark50;
      display: flex;
      align-items: flex-end;
    }

    &-price {
      font-weight: bold;
      font-size: 1rem;
      padding-bottom: 0.1429rem;
      &-per-day {
        font-weight: normal;
        font-size: 0.8571rem;
        margin-left: 0.2857rem;
        padding-bottom: 0.0714rem;
      }
    }
  }

  &__separator {
    max-width: 16.4286rem;
    width: 100%;
    border-bottom: 0.0714rem solid $dark10;
    margin: 0.7143rem 0 0.6429rem 0;
  }

  &__description-bot {
    display: flex;
    justify-content: space-between;

    &-wrapper-comment {
      display: flex;
      align-items: center;
      margin-right: 0.1429rem;
    }

    &-comment-num,
    &-comment {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      line-height: 1.2857rem;
      color: $dark50;
      display: flex;
      align-items: flex-end;
    }

    &-comment {
      font-weight: normal;
      font-size: 1rem;
      margin-left: 0.2857rem;
      padding-bottom: 0.1429rem;

      &-num {
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 0.1429rem;
      }
    }
  }
}
