doctype html
html
    head
        meta(charset="utf-8")
    body.body
        h1.h1 Ui kit
        ul
            li 
                a.h3(href="/FSD-front-2nd-tsk/colors-and-type.html") Colors and type
            li
                a.h3(href="/FSD-front-2nd-tsk/form-elements.html") Form Elements
            li
                a.h3(href="/FSD-front-2nd-tsk/cards.html") Cards
            li
                a.h3(href="/FSD-front-2nd-tsk/headers-and-footers.html") Headers and Footers
        h1.h1 Websute pages
        ul
            li
                a.h3(href="/FSD-front-2nd-tsk/landing.html") Landing page
            li
                a.h3(href="/FSD-front-2nd-tsk/search-room.html") Search room/Filter
            li
                a.h3(href="/FSD-front-2nd-tsk/room-details.html") Room details
            li
                a.h3(href="/FSD-front-2nd-tsk/registration.html") Registration
            li
                a.h3(href="/FSD-front-2nd-tsk/sign-in.html") Sign in