include common.blocks/text-field/text-field.pug
include common.blocks/dropdown/dropdown.pug
include common.blocks/dropdown-option/dropdown-option.pug

doctype html
html
    head
    body.body
        
        form(action="post")
            +text_field({_placeholder:'E-mail', _id: 'inp1', isMasked: 'true'})
        
        +dropdown({_text: "Сколько гостей",
             _options: [
                 {_text: 'взрослые', _number: 0},
                 {_text: 'дети', _number: 0},
                 {_text: 'младенцы', _number: 0},
                 ],
            })
        br
        +dropdown({
            _text: "",
            _options: [
                {_text: 'спальни', _number: 0},
                {_text: 'кровати', _number: 0},
                {_text: 'ванные комнаты', _number: 0},
            ],
            _isShort: true,
        })