mixin carusel({ imgLinks=[], }={}) 
  figure.carusel.js-carusel
    .carusel__wrapper.owl-carousel
      each item in imgLinks
        -
          const {src, alt} = item      
          const attr = {}
          attr.src = src
          attr.alt = alt 
          attr.class = 'carusel__img'
        img&attributes(attr)