html {  
  font-size: 14px;
}

@mixin body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7143rem;
  color: $dark75;
}

@mixin h1 {
  font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7143rem;
  line-height: 2.1429rem;
  color: $dark100;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

@mixin h2 {
  font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3571rem;
  line-height: 1.7143rem;
  color: $dark100;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

@mixin h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  text-transform: uppercase;
  color: $dark100;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}