@import '../../scss/fonts/open-sans/open-sans.scss';
@import '../../scss/fonts/Quicksand/Quicksand.scss';

.ui-colors {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.4286rem;

  &__color {
    min-width: 5rem;
    min-height: 5rem;
    width: min-content;
    height: min-content;
    border-radius: 0.4286rem;
    margin-right: 2.8571rem;

    &_dark100 {
      background: $dark100;
    }

    &_dark75 {
      background: $dark75;
    }

    &_dark50 {
      background: $dark50;
    }

    &_dark25 {
      background: $dark25;
    }

    &_dark5 {
      background: $dark05;
    }

    &_purple {
      background: $purple;
    }

    &_green {
      background: $green;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text,
  &__code {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-family: 'Quicksand', 'OpenSans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3571rem;
    line-height: 2.0714rem;
  }

  &__code {
    font-weight: normal;
    margin-top: 0.0714rem;
  }

  &__text {
    margin-top: 0.5rem;
    &_with-margin-top {
      margin-top: 0.4286rem;
    }
  }
}
