
mixin ui-colors({ color, text, code, isWithMarginTopText=false })
  - const marginTop = isWithMarginTopText && 'ui-colors__text_with-margin-top'

  .ui-colors
    .ui-colors__color(class=`ui-colors__color_${color}`)
    .ui-colors__content
      p.ui-colors__text(class=marginTop)=text
      p.ui-colors__code=code
