@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../material-icons/material-icons.scss';

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.8571rem;
  min-height: 1.4286rem;
  width: min-content;
  height: min-content;
  box-sizing: border-box;
  background: $dark25;
  box-sizing: border-box;
  border-radius: 0.6429rem;
  padding: .0714rem;
  color: $dark25;
  cursor: pointer;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;

  &__content{
    display: flex;
    flex-direction: row;
    min-width: 2.7143rem;
    min-height: 1.2857rem;
    width: min-content;
    height: min-content;
    background: #FFFFFF;
    border-radius: 0.7143rem;
  }

  &__icon {
    display: flex;
    min-width: 1.2857rem;
    min-height: 1.2857rem;
    width: min-content;
    height: min-content;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 0.7143rem;
    line-height: 0.6429rem;
  }

  &__number {
    display: flex;
    min-width: 1.4286rem;
    min-height: 1.2857rem;
    width: min-content;
    height: min-content;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: left;
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .7143rem;
    line-height: .8571rem;
    padding-bottom: .0714rem;
    padding-left: .1429rem;
    padding-right: .1429rem;
  }

  &_active {
    color: $purple;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);;
  }
}
