include ../material-icons/material-icons.pug

mixin like-button({ number, isClicked=false }={})
  - let active = ''
  if (isClicked)
    - active = 'like-button_active'
  
  figure.like-button.js-like-button(class=active)
    .like-button__icon
      if (isClicked)  
        +material-icons({ type: 'favorite', fontSize: 10 })
      else
        +material-icons({ type: 'favorite_border',  fontSize: 10 })
    .like-button__number=number