@import '../text-field/text-field.scss';
@import '../radio-buttons/radio-buttons.scss';
@import '../label/label.scss';
@import '../text-field/text-field.scss';
@import '../toggle/toggle.scss';
@import '../button/button.scss';

.sign-up {
  max-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 39px 29px 29px 29px;
  background-color: white;

  &__header,
  &__birthday {
    margin-bottom: 20px;
  }

  &__name,
  &__surname,
  &__authorization-data,
  &__e-mail,
  &__mailing {
    margin-bottom: 10px;
  }

  &__sex {
    margin-bottom: 26px;
  }

  &__go-to-payment {
    margin-bottom: 30px;
  }

  &__go-to-sign-in {
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__sign-in-text {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    color: #000000;
  }
  
  &__sign-in-button {
    max-width: 99px;
    width: 100%;
  }
}