@import '../text-field/text-field.scss';
@import '../radio-buttons/radio-buttons.scss';
@import '../label/label.scss';
@import '../text-field/text-field.scss';
@import '../toggle/toggle.scss';
@import '../button/button.scss';
@import '../../scss/mixins/body.scss';
@import '../../scss/mixins/h1.scss';
@import '../../scss/mixins/label.scss';

.sign-up {
  max-width: 27.1429rem;
  border: 0.0714rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 1.7857rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2857rem;
  padding: 2.7857rem 2.0714rem 2.0714rem 2.0714rem;
  background-color: white;

  @media (max-width: 365px) {
    padding: .5rem;
  }

  &__header{
    @include h1;
    margin-bottom: 1.4286rem;
  }

  &__birthday{
    @include label(4.5rem);
    margin-bottom: 1.5rem;
  }

  &__surname{
    margin-bottom: 0.7857rem;
  }

  &__authorization-data{
    @include label(8.3571rem);
  }

  &__name,
  &__authorization-data,
  &__e-mail,
  &__mailing {
    margin-bottom: 0.7143rem;
  }

  &__sex {
    margin-bottom: 1.9286rem;
  }

  &__go-to-payment {
    margin-bottom: 2.1429rem;
  }

  &__go-to-sign-in {
    max-width: 22.8571rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__sign-in-text {
    @include body;
    display: flex;
    align-items: center;
    padding-bottom: 0.1429rem;
    color: #000000;
  }

  &__sign-in-button {
    max-width: 7.0714rem;
    width: 100%;
  }
}
