@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../../scss/fonts/Quicksand/Quicksand.scss';
@import '../../scss/mixins/h3.scss';
@import '../../../../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../material-icons/material-icons.scss';

.date-dropdown {
  position: relative;
  max-width: 22.8571rem;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;

  &__arrow {
    display: flex;
    position: absolute;
    min-width: 3.1429rem;
    min-height: 3.1429rem;
    width: min-content;
    height: min-content;
    right: 0;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: $dark50;
    margin-top: 0.0714rem;
    cursor: pointer;
  }

  &__wrapper {
    &-filtered {
      display: flex;
      justify-content: space-between;
      max-width: 22.8571rem;
      width: 100%;
    }

    &-from,
    &to {
      max-width: 10.7143rem;
    }
  }

  &__start-text,
  &__finish-text {
    @include h3;
    max-width: 10.7143rem;
    margin-bottom: 0.4286rem;
  }

  &__input {
    &-wrapper {
      max-width: 10.7143rem;
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;
      width: 100%;
    }

    &-from,
    &-to,
    &-filtered {
      width: 100%;
      background: #FFFFFF;
      border: 0.0714rem solid $dark25;
      box-sizing: border-box;
      border-radius: 0.2857rem;
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7143rem;
      color: $dark75;
      outline: none;
      height: 3.1429rem;
      padding-left: 1rem;
      padding-right: 3.1429rem;
      cursor: pointer;
    }

    &-from,
    &-to {
      padding-bottom: 0.3571rem;
    }
  }

  &__navigation {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 1.7143rem;
    line-height: 1.4286rem;
    color: $purple;
  }

  &__apply-button {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.2143rem;
    color: $purple;
    padding: 1.4286rem 1.4286rem 1.2857rem 1.4286rem;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
  }
}

.datepicker {
  width: 22.8571rem;
  background: #FFFFFF;
  border: 0.0714rem solid $dark25;
  box-sizing: border-box;
  box-shadow: 0 0.7143rem 1.4286rem $dark05;
  border-radius: 0.2857rem;
  font-family: 'Montserrat', Arial, sans-serif;

  &--pointer {
    display: none;
  }

  &--nav {
    height: 4.5714rem;
    border-bottom: none;
    box-sizing: border-box;
    padding: 0;

    &-action {
      max-width: 4.5rem;
      width: 100%;
    }

    &-title,
    &-title i {
      font-family: 'Quicksand', 'Open Sans', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.3571rem;
      line-height: 1.7143rem;
      text-align: center;
      color: $dark100;
    }
  }

  &--days {
    margin-top: 0.7143rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;

    &-names {
      height: 2.8571rem;
      box-sizing: border-box;
      margin: 0;
    }
  }

  &--day {
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      color: $purple;
    }
  }

  &--content {
    box-sizing: border-box;
    padding: 0;
    margin-top: 0.5714rem;
  }

  &--cells-days {
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &--cell {
    &::before {
      content: '';
      padding-top: 100%;
    }

    &-day {
      max-width: 2.8571rem;
      max-height: 2.8571rem;
      height: auto;
      box-sizing: border-box;
      font-family: 'Montserrat', 'Open Sans', Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-align: center;
      color: $dark50;
    }
  }

  .-other-month- {
    color: $dark25;

    &.-range-from-,
    &.-range-to- {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  .-current- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    font-weight: bold;
    color: #FFFFFF;

    &.-range-from- {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &.-in-range- {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 50%;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .-range-from-,
  .-range-to- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    font-weight: bold;
    color: #FFFFFE;

    &.-focus- {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  .-range-to-.-focus- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  .-in-range- {
    color: $dark50;
    background: none;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      opacity: 0.25;
    }
  }

  .-range-from-::after,
  .-range-to-::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    z-index: -1;
  }

  .-range-to-::after {
    border-radius: 0 50% 50% 0;
  }

  .-range-from-::after {
    border-radius: 50% 0 0 50%;
  }

  &--buttons {
    border: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
  }

  &--button {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: $dark50;
    padding: 1.4286rem 1.4286rem 1.2857rem 1.4286rem;
    width: 50%;
    box-sizing: border-box;
  }

  &--button:hover {
    color: $dark50;
    background: none;
  }
}
