
mixin label({_text, _marginBottom, _caption, _marginCaption, _isShort=false}={})
    - var margtop = ""
    if(_marginCaption==3) 
        - margtop = "label__caption_margin-top-3"
    
    - var short = ""
    if(_isShort)
        - short = " label_short"

    .label(class=`label_margin-bottom-${_marginBottom}${short}`)
        h3.label__text.h3=_text
        .label__caption(class=`${margtop}`)=_caption