@import '../../scss/fonts/montserrat/montserrat.scss';
@import '../material-icons/material-icons.scss';

.icon-text-list {
  display: block;
  max-width: 20rem;
  width: 100%;
  box-sizing: content-box;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;

  &__wrapper {
    display: flex;
    padding-bottom: 1.4286rem;
    margin-bottom: 1.3571rem;
    border-bottom: 0.0714rem solid $dark10;
    position: relative;
    width: 100%;

    &_without-lust-border {
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.4286rem;
    min-height: 3.4286rem;
    width: auto;
    height: auto;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 0.0714rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 16.5714rem;
    margin-left: 0.7143rem;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $dark75;
  }

  &__header {
    display: inline-block;
    font-weight: bold;
  }

  &__text {
    display: inline-block;
  }
}
