include ../material-icons/material-icons.pug

mixin dropdown-nemu({ text, navOptions=[] }) 
  .dropdown-nemu
    .dropdown-nemu__text=text
    .dropdown-nemu__arrow
      +material-icons({type: 'keyboard_arrow_down'})
    .dropdown-nemu__links            
      each option in navOptions
        - const {textLink, link} = option
        a(href=link).dropdown-nemu__link=textLink