@import '../../../scss/colors.scss';

@import '../website-pages-template.scss';

@import '../../../blocks/room-filter/room-filter.scss';

.landing {
  &__main {
    display: flex;
    justify-content: center;
    background-image: url('./img/landingbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    min-height: 59.2857rem;
    box-sizing: border-box;
    padding: 4.6429rem 0 1.1429rem 0;
  }

  &__wrapper {
    max-width: 1920px;
    width: 82.08%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-position: 50% 50%;
    padding: 0.3571rem;

    &-description {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    @media (max-width: 1920px){
      width: 82.08%;
    }

    @media (max-width: 1440px){
      max-width: 84.4286rem;
      width: 100%;
    }

    @media (max-width: 404px) {
      align-items: center;
    }

    @media (max-width: 330px) {
      padding: .0714rem;
    }
  }

  &__room-filter {
    padding-left: 0.4286rem;

    @media (max-width: 404px) {
      padding: unset;
    }
  }

  &__description {
    max-width: 21.4286rem;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7143rem;
    text-align: right;
    color: $dark75;
  }
}

.pages{
  background-color: #F4F4F6;
}
