
mixin dropdown-option({ text, number }={})

  section.dropdown-option.js-dropdown-option
    h3.dropdown-option__text.js-dropdown-option__text=text           
    .dropdown-option__button-block
      .dropdown-option__circle.js-dropdown-option__circle -
      h3.dropdown-option__number.js-dropdown-option__number=number
      .dropdown-option__circle.js-dropdown-option__circle +